#textdomain wesnoth-ctl

[scenario]
    id=07_Scarhane
	#po: Скархейн
    name= _ "Scarhane"
    map_data="{~add-ons/Chasing_the_Light/maps/07_Scarhane.map}"
	{DEFAULT_SCHEDULE}
	
	{TURNS -1 -1 -1}
	carryover_percentage=40
    theme=Cutscene_Minimal
    victory_when_enemies_defeated=no
	dissalow_recall=no
	
	[story]
		[part]
            #po: newlines at the beginning help to (depending on the screne size) center this vertically. The space at the end stops the last letter from getting cut off
			#po: В гонитві за Світлом | Женучись за Світлом
			#po: Частина Перша
            title=_"<span font_family='Oldania ADF Std' size='90000'>


<i>Story continued in: </i>
“Chasing the Light: Chapter II+0.5”
 
</span>"
            title_alignment=center
        [/part]
		[part]
            #po: newlines at the beginning help to (depending on the screne size) center this vertically. The space at the end stops the last letter from getting cut off
			#po: В гонитві за Світлом | Женучись за Світлом
			#po: Частина Перша
            title=_"<span font_family='Oldania ADF Std' size='90000'>



Thank you for playing!
 
</span>"
            title_alignment=center
        [/part]
	[/story]
	
	##sides
    [side]
        side=1
        id,defeat_condition=haralin,never
        {GOLD 350 300 250}
        {INCOME 10 5 2}
        controller=human
        team_name=Islefolk
        {FLAG_VARIANT long}
        user_team_name=_"Haralin's Squad"
    [/side]

    ##prestart
    [event]
	name=prestart
	
	{FADE_TO_BLACK}
	
	[/event]
	
	[event]
	name=start
	
	[endlevel] 
        result=victory
        carryover_report=no
        linger_mode=no
		end_credits=no
    [/endlevel]
	
	[/event]
	
[/scenario]