#textdomain wesnoth-ctl
#temp scenario for those who played when 09_Stormvale had id 09_New_Journey
[scenario]
    id=09_New_Journey
	name=_"temp"
    map_data="{~add-ons/Chasing_the_Light/maps/09_Stormvale__Global.map}"
	{INDOORS}

    victory_when_enemies_defeated=no
	carryover_percentage=0
	theme=Cutscene_Minimal
	next_scenario=09_Stormvale
	
	[side]
        side=1
        id,defeat_condition=Daeola,never
		shroud=no
		fog=no
        controller=human
        team_name=Islefolk
		gold=0
        {FLAG_VARIANT loyalist}
        user_team_name=_"Daeola's Wanderers"
    [/side]
	
	[side]
        side=2
		color=red
		shroud=no
		fog=no
        controller=null
        team_name=Islefolk
        {FLAG_VARIANT loyalist}
    [/side]
	
	[side]
        side=3
		color=red
		shroud=no
		fog=no
        controller=null
        team_name=Islefolk
        {FLAG_VARIANT loyalist}
    [/side]
	
	[side]
        side=4
		color=white
		shroud=no
		fog=yes
        controller=ai
        team_name=Monsters
		[ai]
            aggression=1.0
			leader_aggression=1.0
        [/ai]
    [/side]
	
	#prestart
	[event]
	name=prestart
	
	{FADE_TO_BLACK}
		[hide_unit][/hide_unit]


	[/event]
	
	#start
	[event]
	name=start
	
	[endlevel]
        carryover_report=no
        result=victory
        replay_save=no
        linger_mode=no
    [/endlevel]

	[/event]
	
[/scenario]