#textdomain wesnoth-ctl
[scenario]
    id=09_New_Journey
	#po: Нова подорож
    name= _ "New Journey"
    map_data="{~add-ons/Chasing_the_Light/maps/09_New_Journey_Global.map}"
	{DEFAULT_SCHEDULE}
	
	turns=-1
	carryover_percentage=0
    victory_when_enemies_defeated=no
	theme=Cutscene
	#next_scenario=10_Faisim

	{INTRO_AND_SCENARIO_MUSIC revelation.ogg revelation.ogg}
	
	
#	[story]
#		[part]
#            #po: newlines at the beginning help to (depending on the screne size) center this vertically. The space at the end stops the last letter from getting cut off
#			#po: В гонитві за Світлом | Женучись за Світлом
#			#po: Частина Перша
#            title=_"<span font_family='Oldania ADF Std' size='90000'>
#
#
#<i>Story continued in: </i>
#“Chasing the Light: Chapter III”
# 
#</span>"
#            title_alignment=center
#        [/part]
#	[/story]
	
	[side]
        side=1
        id,defeat_condition=Haralin,never
		shroud=no
		fog=no
        controller=human
        team_name=Islefolk
        {FLAG_VARIANT long}
        user_team_name=_"Daeola's Wanderers"
    [/side]
	
	[side]
        side=2
		color=red
		shroud=no
		fog=no
        controller=null
        team_name=Islefolk
        {FLAG_VARIANT long}
    [/side]
	
	[event]
	name=prestart
	
	{RECALL_XY Daeola 22 20}
    [transform_unit]
        id=Daeola
        transform_to=Daeola_L2
    [/transform_unit]
    {REFRESH_CASTER_ANIMATIONS id=Daeola}
	
	{UNMAKE_HERO id=Daeola}
    {MODIFY_UNIT id=Daeola facing ne}
	{MODIFY_UNIT id=Daeola canrecruit yes}
	{MODIFY_UNIT id=Daeola experience {ON_DIFFICULTY 80 70 60}}
	
	{FIRE_EVENT 09_New_Journey_Global.map}
	
	[/event]
	
	[event]
	name=start
	
	{VARIABLE s9_current_location _"Outskirts of Stormvale"}
	{VARIABLE is_Daeola_free_move _"true"}
	
	[/event]
	
	#S9_LOAD_LOCATION LOC_NAME_CURRENT LOC_NAME_NEXT LOC_DESCRIPTION_NEXT IMAGE_PATH MAP_PATH XY_ENTRANCE XY_EXIT
	#вхід у місто з основної локації
	

    #######################################
	######   GLOBAL MAP EVENTS
	#######################################
	
	##spawn units
	[event]
	name=09_New_Journey_Global.map
	first_time_only=no
	
	##охоронці кордону
	#північ
	{GENERIC_UNITC 2 (Heavy Infantryman) 10 4 ()}
	{MODIFY_UNIT x,y=10,4 facing ne}
	{GENERIC_UNITC 2 (Heavy Infantryman) 12 3 ()}
	{MODIFY_UNIT x,y=12,3 facing nw}
	
	#південь
	{GENERIC_UNITC 2 (Heavy Infantryman) 8 25 ()}
	{MODIFY_UNIT x,y=8,25 facing se}
	{GENERIC_UNITC 2 (Heavy Infantryman) 10 24 ()}
	{MODIFY_UNIT x,y=10,24 facing sw}
	
	{GENERIC_UNITC 2 (Spearman) 9 20 ()}
	{MODIFY_UNIT x,y=9,20 facing ne}
	
	{GENERIC_UNITC 2 (Crossbowman) 3 24 ()}
	{MODIFY_UNIT x,y=3,24 facing se}
	{MODIFY_UNIT x,y=3,24 canrecruit yes}
	
	{GENERIC_UNITC 2 (Crossbowman) 6 22 ()}
	{MODIFY_UNIT x,y=6,22 facing se}
	{GENERIC_UNITC 2 (Crossbowman) 7 22 ()}
	{MODIFY_UNIT x,y=7,22 facing sw}

	
	#[label]
	#x,y=25,18
	#text= "Stormvale"
	#[/label]
	#
	#[label]
	#x=22,20
	#y=18,21
	#text= "Village hut"
	#[/label]
	#
	#[label]
	#x,y=18,17
	#text= "Rural house"
	#[/label]
	#
	#[label]
	#x,y=34,16
	#text= "Farmhouse"
	#[/label]
	
	[/event]
	
	#######################################
	######   ENTRANCES TO OTHER LOCATIONS
	
	### STORMVALE(25,19)
	{S9_LOAD_LOCATION _"Outskirts of Stormvale" _"The city of Stormvale" _"Daeola sees a large wooden palisade in front of her, behind
which stone houses and a large royal castle can be found.

This is the main city of Stormvale, which was founded only
about 40 years ago from refugees of the Northern Kingdoms,
which fell under the onslaught of the Wesfolk and their
legions of undead.

Would you like to go inside?" tutor/trolls.png 04_Daeola.map 25,19 10,10}
	
	### HOUSE_1(22,18)
	{S9_LOAD_LOCATION _"Outskirts of Stormvale" _"Village hut" _"TODO

Would you like to go inside?" tutor/trolls.png 04_Daeola.map 22,18 10,10}
	
	### HOUSE_2(20,21) - CLOSED
	[event]
	name=moveto
	first_time_only=no
	[filter]
	id=Daeola
	x,y=20,21
	[/filter]
	[filter_condition]
	    [variable]
		    name=s9_current_location
			equals=_"Outskirts of Stormvale"
		[/variable]
	[/filter_condition]
	
	[cancel_action][/cancel_action]
	
	[change_location]
	    fake=yes
	    title=_"Village hut"
	    image=tutor/trolls.png
	    message=_"TODO

But its door seems to be locked."
	[/change_location]
	[/event]
	
	### HOUSE_3(18,17)
	{S9_LOAD_LOCATION _"Outskirts of Stormvale" _"Rural house" _"TODO

Would you like to go inside?" tutor/trolls.png 04_Daeola.map 18,17 10,10}
	
	### FARMER'S HOUSE(34,16)
	{S9_LOAD_LOCATION _"Outskirts of Stormvale" _"Farmhouse" _"TODO

Would you like to go inside?" tutor/trolls.png 04_Daeola.map 34,16 10,10}
	
	### FISHERMAN'S HOUSE(29,11)
	{S9_LOAD_LOCATION _"Outskirts of Stormvale" _"Fisherman's cabin" _"TODO

Would you like to go inside?" tutor/trolls.png 04_Daeola.map 29,11 10,10}
	
	### SUSPICIOUS HOUSE(15,12) - FAISIM
	{S9_LOAD_LOCATION _"Outskirts of Stormvale" _"Suspicious house" _"TODO

Would you like to go inside?" tutor/trolls.png 04_Daeola.map 15,12 10,10}
	
	### CURSED MEADOW(27,7)
	{S9_LOAD_LOCATION _"Outskirts of Stormvale" _"The Cursed Meadow" _"TODO

Would you like to go inside?" tutor/trolls.png 04_Daeola.map 27,7 10,10}

    #######################################

	
	
	##івенти по типу коментарів та розмов з нпс



    #free move
	[event]
        name=moveto
        first_time_only=no
        [filter]
            id=Daeola
        [/filter]
		{FILTER_CONDITION( {VARIABLE_CONDITIONAL is_Daeola_free_move equals true}  )}
		
        {MODIFY_UNIT (x,y=$x1,$y1) moves 6}
        {MODIFY_UNIT (x,y=$x1,$y1) attacks_left 1}
		[place_shroud][/place_shroud]
		[redraw]
	    side=1
	    clear_shroud = yes
	    [/redraw]
    [/event]
	
[/scenario]