#textdomain wesnoth-ctl
[scenario]
    id=09_New_Journey
	#po: Нова подорож
    name= _ "New Journey"
    map_data="{~add-ons/Chasing_the_Light/maps/09_New_Journey_Global.map}"
	{DEFAULT_SCHEDULE}
	
	turns=-1
	carryover_percentage=0
    victory_when_enemies_defeated=no
	theme=Cutscene
	#next_scenario=10_Faisim

	{INTRO_AND_SCENARIO_MUSIC revelation.ogg revelation.ogg}
	
	
#	[story]
#		[part]
#            #po: newlines at the beginning help to (depending on the screne size) center this vertically. The space at the end stops the last letter from getting cut off
#			#po: В гонитві за Світлом | Женучись за Світлом
#			#po: Частина Перша
#            title=_"<span font_family='Oldania ADF Std' size='90000'>
#
#
#<i>Story continued in: </i>
#“Chasing the Light: Chapter III”
# 
#</span>"
#            title_alignment=center
#        [/part]
#	[/story]
	
	[side]
        side=1
        id,defeat_condition=Haralin,never
		shroud=no
		fog=no
        controller=human
        team_name=Islefolk
        {FLAG_VARIANT long}
        user_team_name=_"Daeola's Wanderers"
    [/side]
	
	[event]
	name=prestart
	
	#{FADE_TO_BLACK}
	{RECALL_XY Daeola 22 20}
    [transform_unit]
        id=Daeola
        transform_to=Daeola_L2
    [/transform_unit]
    {REFRESH_CASTER_ANIMATIONS id=Daeola}
	
	{UNMAKE_HERO id=Daeola}
    {MODIFY_UNIT id=Daeola facing nw}
	{MODIFY_UNIT id=Daeola canrecruit yes}
	{MODIFY_UNIT id=Daeola experience {ON_DIFFICULTY 80 70 60}}
	
	
	
	[/event]
	
	[event]
	name=start
	
	#[endlevel] 
    #    result=victory
    #    carryover_report=no
    #    linger_mode=no
	#	end_credits=no
    #[/endlevel]
	
	{VARIABLE s9_current_location "temp_name"}
	
	[/event]
	
	#S9_LOAD_LOCATION LOC_NAME_CURRENT LOC_NAME_NEXT MAP_NAME XY_ENTRANCE XY_EXIT
	{S9_LOAD_LOCATION "temp_name" "the city of Stormvale" 04_Daeola.map 25,19 10,10}

    #free move
	[event]
        name=moveto
        first_time_only=no
        [filter]
            id=Daeola
        [/filter]
		{FILTER_CONDITION( {VARIABLE_CONDITIONAL is_Daeola_free_move equals true}  )}
		
        {MODIFY_UNIT (x,y=$x1,$y1) moves 6}
        {MODIFY_UNIT (x,y=$x1,$y1) attacks_left 1}
		[place_shroud][/place_shroud]
		[redraw]
	    side=1
	    clear_shroud = yes
	    [/redraw]
    [/event]
	
[/scenario]