#textdomain wesnoth-ctl
[scenario]
    id=11_Duty
    name= _ "Duty"
    map_data="{~add-ons/Chasing_the_Light/maps/11_Duty_Tent.map}"
	{DEFAULT_SCHEDULE}
	
	turns=40
	carryover_percentage=0
    victory_when_enemies_defeated=no
	#disallow_recall=yes
	#theme=Cutscene_Minimal
	#next_scenario=12_Burden?

	{INTRO_AND_SCENARIO_MUSIC revelation.ogg revelation.ogg}
	
	[story]
	[part]
		story= {CAPTION ( _ "Excerpts from the journal of Daeola, The First Prophetess of Light")} + _ "Кілька днів тому, біля ворожої столиці, я зійшлася в бою зі справжнім чудовиськом, з самим Владикою-Лічом. Я безліч разів чула, як західняки шанобливо кличуть його 'Майстром Жев'яном' та поважають за майстерність в бою, я ж побачила перед собою лише невимовно бридку суміш з безліччю рук, ніг, хвостів, навіть крил."
        {CTL_GREEN_ISLE_BIGMAP}
		{OLD_JOURNEY_09}
	{OLD_JOURNEY 421 459}
	{OLD_JOURNEY 433 435}
	{OLD_JOURNEY 441 404}
	{OLD_JOURNEY 451 380}
	{OLD_JOURNEY 465 362}
	{OLD_JOURNEY 472 336}
	{OLD_JOURNEY 468 310}
	{OLD_BATTLE 467 287}
	[/part]
	[part]
		story= {CAPTION ( _ "Excerpts from the journal of Daeola, The First Prophetess of Light")} + _ "Зізнаюсь, коли я виступила проти цього Жев'яна, мені стало страшно; я не хотіла битися з цією <i>твариною</i>, однак я була <i>змушена</i>, заради людей нашого Острову. Не знаю як, але мені навіть вдалося добряче підсмажити його закляттями Світла, й йому довелося тікати до стін західняцької столиці. Що правда, я теж отримала кілька поранень й відступила з поля бою, залишивши воїнів та інших магів продовжувати наступ вже без мене."
        {CTL_GREEN_ISLE_BIGMAP}
		{OLD_JOURNEY_09}
	{OLD_JOURNEY 421 459}
	{OLD_JOURNEY 433 435}
	{OLD_JOURNEY 441 404}
	{OLD_JOURNEY 451 380}
	{OLD_JOURNEY 465 362}
	{OLD_JOURNEY 472 336}
	{OLD_JOURNEY 468 310}
	{OLD_BATTLE 467 287}
	[/part]
	[part]
		story= {CAPTION ( _ "Excerpts from the journal of Daeola, The First Prophetess of Light")} + _ "Зараз я можу сказати, що мої рани не настільки тяжкі, якими здалися тоді й я могла б просто зцілити себе та продовжити бій, але ж... я завжди думаю — що станеться якщо <i>я</i> загину? Хіба Вчитель, Гаеніс та інші маги зможуть впоратися без <i>мене</i>? Хіба не всі кажуть, що саме <i>я</i> це єдина надія всього Острову?... Хай там як, мені час продовжувати цю безнадійну боротьбу: це все, на що я здатна..."
        {CTL_GREEN_ISLE_BIGMAP}
		{OLD_JOURNEY_09}
	{OLD_JOURNEY 421 459}
	{OLD_JOURNEY 433 435}
	{OLD_JOURNEY 441 404}
	{OLD_JOURNEY 451 380}
	{OLD_JOURNEY 465 362}
	{OLD_JOURNEY 472 336}
	{OLD_JOURNEY 468 310}
	{OLD_BATTLE 467 287}
	[/part]
    [/story]
	{CTL_GI_TRACK {JOURNEY_11} }
	
	[side]
        side=1
        id,defeat_condition=Daeola,never
		shroud=no
		fog=no
        controller=human
        team_name=Islefolk
        {FLAG_VARIANT long}
        user_team_name=_"Field Hospital"
    [/side]
	
	#{PLACE_IMAGE "units/human-loyalists/spearman-death4.png~RC(magenta>red)" 15 16}
	
	##loyalists
	#duelist-die8
	#spearman-death4
	#fencer-die5
	#lieutenant-die-9
	#pikeman-die-5
	#horseman-se-die5
	#horseman-ne-die5
	#knight-ne-die5
	#knight-se-die5
	#peasant-die10
	#
	##magi
	#mage+female-die-16
	#mage-die-16
	#
	#
	##outlaws
	#thief+female-die-7
	#thief-die-7
	#trapper-die-8
	#adept-die8	
	#
	##undead
	#deathblade-dying-7
	#archer-die-13
	#revenant-dying-7
	#skeleton-dying-7
	
	
	
	[event]
	name=prestart
	
	[kill]
	id=Daeola
	[/kill]
	
	[unit]
		canrecruit=yes
		side,id,name,profile=1,Daeola,_"Daeola",portraits/daeola/daeola_L2.png
		experience={ON_DIFFICULTY 80 70 60}
	    unrenamable=yes
        gender=female
		hitpoints=20
        type=Daeola_L2
        x,y=2,4
		[modifications]
            [trait]
                id,name,description=devoted_dummy,_"devoted",_"TODO"
            [/trait]
            [trait]
                id,name,description=depressed_dummy,_"depressed",_"TODO"
            [/trait]
        [/modifications]
    [/unit]
    {REFRESH_CASTER_ANIMATIONS id=Daeola}
	
	[if]
	[variable]
        name="Daeola_regen_necklace"
        equals=true
	[/variable]
	[then]
	    [modify_unit]
	        [filter]
	            id=Daeola
	        [/filter]
	        [abilities]
                {ABILITY_SELF_HEAL}
            [/abilities]
	    [/modify_unit]
	[/then][/if]
	
	{CASTER_STATUS id=Daeola false}
	
	[disallow_end_turn][/disallow_end_turn] 
	
	#Магдалина
	[if]
	[variable]
	#чи говорила Даеола з нею взагалі
	name=s9_child_home_tasked
	equals=true
	[/variable]
	[then]
	{PLACE_IMAGE "items/book2.png" 4 3}
	[/then][/if]
	
	#Гаеніс
	{PLACE_IMAGE "items/book3.png" 5 6}
	
	#Король Південної Бухти
	{PLACE_IMAGE "items/book4.png" 6 4}
	
	#Граф Чорнотопу
	[if]
	[variable]
	#чи говорила Даеола з ним
	name=daecount_conversation_completed
	equals=true
	[/variable]
	[then]
	{PLACE_IMAGE "items/book1.png" 6 2}
	[/then][/if]
	
	#Аса
	[if]
	[variable]
	#чи говорила Даеола з нею
	name=daeasa_conversation_completed
	equals=true
	[/variable]
	[then]
	{PLACE_IMAGE "items/book3.png" 9 4}
	[/then][/if]
	
	
	
	[/event]
	
	[event]
	name=start
	
	{VARIABLE s9_current_location _"Tent"}
	{VARIABLE is_Daeola_free_move _"true"}
	
	{VARIABLE s11_king _"true"}
	{VARIABLE s11_haenys _"true"}
	
	{VARIABLE letters_count 0}
	
	[/event]
	
	#free move
	[event]
        name=moveto
        first_time_only=no
        [filter]
            id=Daeola
        [/filter]
		{FILTER_CONDITION( {VARIABLE_CONDITIONAL is_Daeola_free_move equals true}  )}
        {MODIFY_UNIT (x,y=$x1,$y1) moves $unit.max_moves}
        {MODIFY_UNIT (x,y=$x1,$y1) attacks_left 1}
		[place_shroud][/place_shroud]
		[redraw]
	    side=1
	    clear_shroud = yes
	    [/redraw]
    [/event]
	
	#open door in tent
	{S9_DOOR_WOOD _"Tent" \ 8,2}

    #letters
	#Магдалина
    {S11_LETTERS 4 3 _"<span font-family='Oldania ADF Std' font-size='26000' color='black'><b>From the notes of unnamed miner.
		
Esten’s fallen, undead things all ‘round, an’ our own folk gone full mad! They done kilt our master, an’ then they started eatin’ people — P E O P L E!!! Me an’ a few o’ mine, we makin’ a run fer the spider tunnel. They say beasts took over part o’ the mines there, like that bastard Caror cursed the land, but we’ll break through!</b></span>"
_"Магдалина" s9_child_home_tasked}

    #Гаеніс
	{S11_LETTERS 5 6 _"<span font-family='Oldania ADF Std' font-size='26000' color='black'><b>From the notes of unnamed miner.
		
Esten’s fallen, undead things all ‘round, an’ our own folk gone full mad! They done kilt our master, an’ then they started eatin’ people — P E O P L E!!! Me an’ a few o’ mine, we makin’ a run fer the spider tunnel. They say beasts took over part o’ the mines there, like that bastard Caror cursed the land, but we’ll break through!</b></span>"
_"Гаеніс" s11_haenys}

    #Король ПБ
	{S11_LETTERS 6 4 _"<span font-family='Oldania ADF Std' font-size='26000' color='black'><b>From the notes of unnamed miner.
		
Esten’s fallen, undead things all ‘round, an’ our own folk gone full mad! They done kilt our master, an’ then they started eatin’ people — P E O P L E!!! Me an’ a few o’ mine, we makin’ a run fer the spider tunnel. They say beasts took over part o’ the mines there, like that bastard Caror cursed the land, but we’ll break through!</b></span>"
_"Король" s11_king}

    #Граф Чорнотопу
	{S11_LETTERS 6 2 _"<span font-family='Oldania ADF Std' font-size='26000' color='black'><b>From the notes of unnamed miner.
		
Esten’s fallen, undead things all ‘round, an’ our own folk gone full mad! They done kilt our master, an’ then they started eatin’ people — P E O P L E!!! Me an’ a few o’ mine, we makin’ a run fer the spider tunnel. They say beasts took over part o’ the mines there, like that bastard Caror cursed the land, but we’ll break through!</b></span>"
_"Граф" daecount_conversation_completed}

    #Аса
	{S11_LETTERS 9 4 _"<span font-family='Oldania ADF Std' font-size='26000' color='black'><b>From the notes of unnamed miner.
		
Esten’s fallen, undead things all ‘round, an’ our own folk gone full mad! They done kilt our master, an’ then they started eatin’ people — P E O P L E!!! Me an’ a few o’ mine, we makin’ a run fer the spider tunnel. They say beasts took over part o’ the mines there, like that bastard Caror cursed the land, but we’ll break through!</b></span>"
_"Аса" daeasa_conversation_completed}
	
	
	#exit tent
	[event]
	name=moveto
	first_time_only=yes
	[filter]
	id=Daeola
	[filter_location]
	x,y=10,1
	radius=2
	[/filter_location]
	[/filter]
	
	[cancel_action][/cancel_action]
	
	    [hide_unit][/hide_unit]
	    [kill]
	    [not]
	    id=Daeola
	    [/not]
	    [not]
	    x,y=recall,recall
	    [/not]
	    fire_event=no
	    [/kill]
	    {FADE_TO_BLACK}
	        
	    {DELAY 500}
		
		##видаляємо всі поставлені зображення
		[remove_item][/remove_item]
	    
	    ##телепорт в угол карти, щоб її випадково не кинуло в recall list при зміні на меншу мапу
	    [teleport]
	    [filter]
	    id=Daeola
	    [/filter]
	    x,y=1,1
	    [/teleport]
	        
        [replace_map]
            map_file=11_Duty.map
	    	expand=yes
            shrink=yes
        [/replace_map]
        [redraw][/redraw]
		
	    [teleport]
	    [filter]
	    id=Daeola
	    [/filter]
	    x,y=51,27
	    [/teleport]
	    [scroll_to_unit]
	    id=Daeola
	    immediate=yes
	    [/scroll_to_unit]
	    
	    {DELAY 500}
	    
	    [unhide_unit][/unhide_unit]

		[modify_unit]
		[filter]
		id=Daeola
		[/filter]
		moves=6
		[/modify_unit]
		
		[modify_side]
	    [filter]
	    side=1
	    [/filter]
	    shroud=no
	    fog=no
	    [/modify_side]
		
		#розставити дружніх юнітів та декорації
		{FIRE_EVENT s11_tent_exit}
		
		[reset_fog][/reset_fog]
	    [redraw]
	    side=1
	    clear_shroud = yes
	    [/redraw]
	        
	    {FADE_IN}
		
		{DELAY 500}
		
		#вступна катсцена
		{FIRE_EVENT s11_tent_exit_cutscene}
		
		{VARIABLE is_Daeola_free_move _"false"}

	[/event]
	
	[event]
	name=s11_tent_exit
	
	
	[allow_end_turn][/allow_end_turn] 
	
	[/event]
	
	[event]
	name=s11_tent_exit_cutscene
	
	
	[/event]


	
[/scenario]