#textdomain wesnoth-ctl
{JOURNAL 11_Dissonance _"Dissonance" no}

[scenario]
    id=11_Dissonance
    name= _ "Dissonance"
    map_data="{~add-ons/Chasing_the_Light/maps/11_Duty.map}"
	{UNDERGROUND}
	
	turns=-1
	carryover_percentage=0
    victory_when_enemies_defeated=no
	dissalow_recall=yes
	theme=Cutscene_Minimal
	#next_scenario=

	{INTRO_AND_SCENARIO_MUSIC revelation.ogg revelation.ogg}
	
	[side]
        side=1
        id,defeat_condition=Haralin,never
		shroud=yes
		fog=no
        controller=human
        team_name=Islefolk
        {FLAG_VARIANT long}
        user_team_name=_"United Army"
    [/side]
	
	[event]
	name=prestart
	
	{FADE_TO_BLACK}
	
	[/event]
	
	[event]
	name=start
	
	[outro_teaser][/outro_teaser]
	
	{REPLACE_SCENARIO_MUSIC return_to_wesnoth.ogg}
	
	[endlevel] 
        result=victory
        carryover_report=no
        linger_mode=no
		end_credits=no
    [/endlevel]
	
	[/event]

	
[/scenario]