#textdomain wesnoth-ctl
{JOURNAL 11_Dissonance _"Dissonance" no}

[scenario]
    id=11_Dissonance
    name= _ "Dissonance"
    map_data="{~add-ons/Chasing_the_Light/maps/11_Dissonance.map}"
	{DEFAULT_SCHEDULE_DUSK}
	
	turns={ON_DIFFICULTY 28 26 24}
	carryover_percentage=0
    victory_when_enemies_defeated=no
	#next_scenario=12_Refrain

	{INTRO_AND_SCENARIO_MUSIC revelation.ogg revelation.ogg}
	
	[side]
        side=1
        id,defeat_condition=Haralin,never
		shroud=yes
		fog=yes
        controller=human
        team_name=Islefolk
        {FLAG_VARIANT long}
        user_team_name=_"United Army"
    [/side]
	
	##Аса, Зегам та Дуб
	[side]
	    side=2
		color=red
		shroud=yes
		fog=yes
		controller=null
		team_name=Islefolk
		user_team_name=_"Asa's Guard"
		share_vision=yes
	[/side]
	
	##мерці ленвана
	[side]
	    side=3
		id=Aeothyll
		name=_"Aeothyll"
		type=Necroprincess
		x,y=19,60
		facing=nw
		canrecruit=yes
		color=blue
		controller=ai
		team_name=Wesfolk
		{FLAG_VARIANT undead}
		user_team_name=_"Lenvan's Army"
		{GOLD 400 450 450}
		{INCOME 10 15 15}
	[/side]
	
	#мерці в східній частині міста
	[side]
	    side=4
		color=white
		controller=ai
		no_leader=yes
		team_name=Wesfolk
		user_team_name=_"Undead Citizens"
	[/side]
	
	#монстри
	[side]
	    side=5
		color=green
		controller=ai
		no_leader=yes
		team_name=Monsters
		user_team_name=_"Monsters"
	[/side]
	
	##дружній дух
	[side]
	    side=6
		color=yellow
		controller=null
		hidden=yes
		no_leader=yes
		team_name=Islefolk,Monsters,Wesfolk
		user_team_name=_"Unknown"
	[/side]
	
	#############
	## SCENERY ##
	#############
	{PLACE_IMAGE "scenery/wreck-3.png" 5 49}
	{PLACE_IMAGE "scenery/village-human-burned1.png" 8 28}
	{PLACE_IMAGE "scenery/village-human-burned2.png" 28 27}
	{PLACE_IMAGE "scenery/village-human-burned4.png" 26 18}
	{PLACE_IMAGE "scenery/well.png" 12 12}
	
	##додати у ачівки
	{PLACE_IMAGE "scenery/signpost.png" 14 28}
	{PLACE_IMAGE "scenery/signpost.png" 17 3}
	
	##записка(інша записка в кораблі)
	{PLACE_IMAGE "items/book4.png" 3 56}
	{PLACE_IMAGE "items/book1.png" 20 23}
	
	##############
	## PRESTART ##
	##############
	[event]
	name=prestart
	
	    ##оборонці міста. час від часу не з'являються 
	    {GENERIC_UNITC 2 Spearman 9 9 ()}
	    {MODIFY_UNIT x,y=9,9 facing n}
	    {MODIFY_UNIT x,y=9,9 experience 19}
	    
	    {GENERIC_UNITC 2 Spearman 9 17 ()}
	    {MODIFY_UNIT x,y=9,17 facing se}
	    {MODIFY_UNIT x,y=9,17 experience 28}
	    
	    {GENERIC_UNITC 2 Spearman 17 17 ()}
	    {MODIFY_UNIT x,y=17,17 facing se}
	    {MODIFY_UNIT x,y=17,17 experience 8}
	    {MODIFY_UNIT x,y=17,17 vision 1}
	    
	    {GENERIC_UNITC 2 Bowman 5 16 ()}
	    {MODIFY_UNIT x,y=5,16 facing sw}
	    {MODIFY_UNIT x,y=5,16 experience 24}
	    
	    {GENERIC_UNITC 2 (Heavy Infantryman) 13 17 ()}
	    {MODIFY_UNIT x,y=13,17 facing sw}
	    {MODIFY_UNIT x,y=13,17 experience 10}
	    
	    {GENERIC_UNITC 2 (Heavy Infantryman) 5 14 ()}
	    {MODIFY_UNIT x,y=5,14 facing sw}
	    {MODIFY_UNIT x,y=5,14 experience 27}
	    
	    {GENERIC_UNITC 2 Swordsman 21 13 ()}
	    {MODIFY_UNIT x,y=21,13 facing n}
	    {MODIFY_UNIT x,y=21,13 experience 27}
	    {MODIFY_UNIT x,y=21,13 vision 4}
	    
	    {GENERIC_UNITC 2 Pikeman 12 9 ()}
	    {MODIFY_UNIT x,y=12,9 id S11_Pikeman}
	    {MODIFY_UNIT x,y=12,9 facing ne}
	    {MODIFY_UNIT x,y=12,9 experience 47}
	    
	    {LOYAL_UNIT 2 Sergeant 17 13}
	    {MODIFY_UNIT x,y=17,13 id S11_Sergeant}
	    {MODIFY_UNIT id=S11_Sergeant facing nw}
	    {MODIFY_UNIT id=S11_Sergeant experience 4}
	    {MODIFY_UNIT id=S11_Sergeant canrecruit yes}
	    
	    ##села в місті
	    [capture_village]
	    	side=2
	    	x=4,8,11,20,9
	    	y=11,13,10,14,20
	    [/capture_village]
	    
	    ##зомбаки в місті + гулі
	    {GENERIC_UNITC 4 (Walking Corpse) 17 20 ()}
	    {MODIFY_UNIT x,y=17,20 facing se}
	    
	    {GENERIC_UNITC 4 (Walking Corpse) 26 22 ()}
	    {MODIFY_UNIT x,y=26,22 facing sw}
	    
	    {GENERIC_UNITC 4 (Walking Corpse) 16 23 ()}
	    {MODIFY_UNIT x,y=16,23 facing sw}
	    
	    {GENERIC_UNITC 4 {ON_DIFFICULTY (Walking Corpse) (Walking Corpse) Soulless} 20 25 ()}
	    {MODIFY_UNIT x,y=20,25 facing sw}
	    
	    {GENERIC_UNITC 4 {ON_DIFFICULTY (Walking Corpse) Soulless Soulless} 20 19 ()}
	    {MODIFY_UNIT x,y=20,19 facing nw}
	    
	    {GENERIC_UNITC 4 Soulless   24 17 ()}
	    {MODIFY_UNIT x,y=24,17 facing ne}
	    
	    {GENERIC_UNITC 4 Soulless   21 23 ()}
	    {MODIFY_UNIT x,y=21,23 facing se}
	    
	    {GENERIC_UNITC 4 Soulless   25 25 ()}
	    {MODIFY_UNIT x,y=25,25 facing nw}
	    
	    {GENERIC_UNITC 4 Ghoul      27 27 ()}
	    {MODIFY_UNIT x,y=27,27 facing se}
	    
	    {GENERIC_UNITC 4 Ghoul      28 29 ()}
	    {MODIFY_UNIT x,y=28,29 facing nw}
	    
	    {GENERIC_UNITC 4 Necrophage 23 30 ()}
	    {MODIFY_UNIT x,y=23,30 facing se}
	    
	    ##почвари
	    
	    ##Мерці Ленвана
		
		
		##села принцеси
	    [capture_village]
	    	side=3
	    	x=15,18
	    	y=58,55
	    [/capture_village]
		
		##усі моби на мапі стоять на місці
		[modify_unit]
	        [filter]
	    	    side=4,5
	    	[/filter]
	    	ai_special=guardian
	    [/modify_unit]
	    
	    [scroll_to]
	        x,y=13,11
	    	immediate=yes
	    [/scroll_to]
		
		##VARIABLES
		{VARIABLE forest_notes 0}
		
		##завдання
		[objectives]
			side=1
			[objective]
				description= _ "Try to reach the road to Wesfolk’s Haven"
				condition=win
			[/objective]
			[objective]
				{BONUS_OBJECTIVE_CAPTION}
				description= _ "Explore the surrounding area"
				condition=win
			[/objective]
			[objective]
                description= _ "Death of Haralin"
                condition=lose
            [/objective]
			[objective]
                description= _ "Death of Daeola"
                condition=lose
            [/objective]
			{TURNS_RUN_OUT}
			[gold_carryover]
                carryover_percentage=40
            [/gold_carryover]
		[/objectives]
	
	[/event]
	
	###########
	## START ##
	###########
	[event]
	name=start
	
	    {DELAY 500}
		
	    {SPEAK S11_Pikeman _"TEST"}
	    
	    {RECALL_XY Haralin 15 3}
	    {MOVE_UNIT id=Haralin 13 13}
	    {RECALL_XY Asa 15 3}
	    {MOVE_UNIT id=Asa 15 13}
	    {RECALL_XY Daeola 15 3}
	    {MOVE_UNIT id=Daeola 11 14}
	    {RECALL_XY Zeham 15 3}
	    {MOVE_UNIT id=Zeham 9 11}
	    {RECALL_XY Dolmannumbil 15 3}
	    {MOVE_UNIT id=Dolmannumbil 13 15}
		
		[scroll_to]
	        x,y=13,14
	    [/scroll_to]
	    
	    ##гарнізон повідомляє про прибуття військових острів`ян
	    
	    ##герої приходять, Аса бере контроль над містом
	    
	    
	    ##вирішують розділитися. Аса та Зегам залишаються, щоб запевнитися, що вони втримають оборону переправи й не пустять західняків назад
	    
	    {SPEAK Asa _"TEST"}
		
		{MODIFY_UNIT id=Asa side 2}
		
		[if]
		[have_unit]
		    id=Zeham
		[/have_unit]
		[then]
		
		    {SPEAK Zeham _"TEST"}
			
			{MODIFY_UNIT id=Zeham side 2}
			
			{DELAY 700}
		
		[/then][/if]
		
		##Лісовик залишається, щоб не дозволити мерцям пройти до лісу та осквернити його знову
		[if]
		[have_unit]
		    id=Dolmannumbil
		[/have_unit]
		[then]
		
		    {SPEAK Dolmannumbil _"TEST"}
			
			{MODIFY_UNIT id=Dolmannumbil side 2}
			
			{DELAY 700}
		
		[/then][/if]
		
		{SPEAK Haralin _"TEST"}
		{SPEAK Daeola _"TEST"}
		
		#18,62
		[remove_shroud]
	        [filter_side]
                side=1
            [/filter_side]
            x,y=18,62
            radius=1
        [/remove_shroud]
		
		{HIGHLIGHT_IMAGE 18 62 items/gohere.png ()}
		
	    {DELAY 500}
	
	[/event]
	
	######################
	## SIGNPOSTS LABELS ##
	######################
	#define S11_SIGNPOST_REACTION
	    [if]
        [variable]
            name=S11_SIGNPOST_REACTED
            not_equals=true
        [/variable]
        [then]
        
	         ##коментарій, що написи є дуже древніми та пошкодженими
            {HD_REACTION
        		({SPEAK Haralin _"TEST"}) #Haralin
        		({SPEAK Daeola _"TEST"}) #Daeola
        		({SPEAK Selyn _"TEST"}) #Selyn
        		({SPEAK unit _"TEST"}) #Others
        	}
	     	
	     	{VARIABLE S11_SIGNPOST_REACTED _"true"}
        
        [/then][/if]
	#enddef
	
	{SIGNPOSTS_LABELS 1 17 3 _"Шлях далі веде до Північної Гавані.
На дорозі зустрічаються жорстокі бандити та варвари, будьте обережні!" ({S11_SIGNPOST_REACTION})}
    {SIGNPOSTS_LABELS 1 14 28 _"Подорожній, ти входиш у землі незалежного міста Північної Гавані!
Якщо є чужинцем ти, поважай наші закони, інакше голова твоя опиниться на палі." ({S11_SIGNPOST_REACTION})}
	
	###########
	## NOTES ##
	###########
	##city
    [event]
        name=moveto
        [filter]
            x,y=20,23
            side=1
        [/filter]

		{CTL_NOTE s11_city _"<span font-family='Oldania ADF Std' font-size='26000' color='black'><b>From the journal of TODO, the TODO. 

TODO.</b></span>" yes}

		##реакція
		{HD_REACTION
		    () #Haralin
		    () #Daeola
		    () #Selyn
		    () #Others
		}

        {REMOVE_IMAGE 20 23}
		
		{VARIABLE_OP forest_notes add 1}
		[progress_achievement]
            content_for=Chasing_the_Light
            id="ctl_forest_notes"
            amount=1
            limit=$forest_notes
        [/progress_achievement]
    [/event]
	
	#ship
	[event]
        name=moveto
        [filter]
            x,y=5,49
            side=1
        [/filter]

		{CTL_NOTE s11_ship _"<span font-family='Oldania ADF Std' font-size='26000' color='black'><b>From the journal of TODO, the TODO. 

TODO.</b></span>" yes}

		##реакція
		{HD_REACTION
		    () #Haralin
		    () #Daeola
		    () #Selyn
		    () #Others
		}
		
		{VARIABLE_OP forest_notes add 1}
		[progress_achievement]
            content_for=Chasing_the_Light
            id="ctl_forest_notes"
            amount=1
            limit=$forest_notes
        [/progress_achievement]
    [/event]
	
	#survivor
	[event]
        name=moveto
        [filter]
            x,y=3,56
            side=1
        [/filter]

		{CTL_NOTE s11_survivor _"<span font-family='Oldania ADF Std' font-size='26000' color='black'><b>From the journal of TODO, the TODO. 

TODO.</b></span>" yes}

		##реакція
		{HD_REACTION
		    () #Haralin
		    () #Daeola
		    () #Selyn
		    () #Others
		}

        {REMOVE_IMAGE 20 23}
		
		{VARIABLE_OP forest_notes add 1}
		[progress_achievement]
            content_for=Chasing_the_Light
            id="ctl_forest_notes"
            amount=1
            limit=$forest_notes
        [/progress_achievement]
    [/event]
	
	###########
	## SELYN ##
	###########
	[event]
	name=moveto
	[filter]
	    side=1
	    [filter_location]
            x,y=25,35
	        radius=2
        [/filter_location]
	[/filter]
	
	{SPEAK Haralin _"TEST"}
	{SPEAK Daeola _"TEST"}
	
	[unit]
	    id=Selyn
		name=_"Selyn"
		type=Ghost
		x,y=25,35
		facing=sw
		side=6
		unrenamable=yes
		[modifications]
            {TRAIT_LOYAL}
        [/modifications]
	[/unit]
	
	{SPEAK Selyn _"TEST"}
	
	{SPEAK Daeola _"TEST"}
	{SPEAK Haralin _"TEST"}
	
	{MODIFY_UNIT id=Selyn side 1}
	
	[/event]

	##розмови ГД
	
	##ГД бачать мерців на перевалі або в горах
	
	##ГД бачать принцесу
	
	#Г отримує книгу принцеси
	
	#############
	## VICTORY ##
	#############
	[event]
	name=moveto
	[filter]
	    id=Haralin,Daeola
		x,y=18,62
	[/filter]
	    
	    {HD_REACTION
		(
		    {SPEAK Haralin _"TEST"}
		) #Haralin
		(
		    {SPEAK Daeola _"TEST"}
		) #Daeola
		() #Selyn
		() #Others
		}

        [endlevel]
			result=victory
		[/endlevel]
		
    [/event]		
	
[/scenario]