#textdomain wesnoth-ctl

#by Iris

##додати Андрін, Гаеніс, Рада Магів, Король Південної Бухти, Граф Чорнотопу, Ліч-Лорд Карор, Ліч-Лорд Ленван, Синир, Доулас, Єнцир

[character_profile]
	id=Haralin
	name= _ "Haralin"
	affiliation= _ "Seerwick of Blackmore"
	race=human
	gender=male
	portrait="portraits/haralin/Haralin_L1.png"
	description= _ "<b>Haralin</b>"
	
	[additional_info]
    	requires_milestone=oldwood
		portrait="portraits/haralin/Haralin_L2.png"
		affiliation= _ "Oldwood"
		additional_titles= _ "The First Mage"
    	description= _ "Chapter 2"
	[/additional_info]
	
	[additional_info]
    	requires_milestone=priorities
		portrait="portraits/haralin/Haralin_L3.png"
    	description= _ "Chapter 3"
	[/additional_info]
[/character_profile]

[character_profile]
	id=Voice
	name= _ "Voice"
	affiliation= _ "???"
	race=_"???"
	gender=?
	description= _ "<b>Voice</b>"
	
	[additional_info]
    	requires_milestone=quiescence
		name= _ "Second Soul"
		portrait="portraits/undead/ghost.webp"
		additional_titles= _ "Voice"
    	description= _ "End"
	[/additional_info]
	
	[additional_info]
    	requires_milestone=quiescence_end
		status=dead
    	description= _ "End"
	[/additional_info]
[/character_profile]

[character_profile]
	id=Daeola
	name= _ "Daeola"
	affiliation= _ "Oldwood"
	requires_milestone=daeola_oldwood
	race=human
	gender=female
	portrait="portraits/daeola/daeola_L0.png"
	description= _ "<b>Daeola</b>"
	
	[additional_info]
    	requires_milestone=southbay
		portrait="portraits/daeola/daeola_L1.png"
    	description= _ "End"
	[/additional_info]
	
	[additional_info]
    	requires_milestone=stormvale
		portrait="portraits/daeola/daeola_L2.png"
		additional_titles= _ "Prophetess of Light"
    	description= _ "End"
	[/additional_info]
	
	[additional_info]
    	requires_milestone=duty
		status=dead
    	description= _ "End"
	[/additional_info]
[/character_profile]

[character_profile]
	id=Zeham
	name= _ "Zeham"
	affiliation= _ "Seerwick of Blackmore"
	requires_milestone=despair
	race=human
	gender=male
	#portrait=
	description= _ "<b>Zeham</b>"
	
	##додати кілька етапів для нього
[/character_profile]

[character_profile]
	id=Juangh
	name= _ "Juangh"
	affiliation= _ "Seerwick of Blackmore"
	requires_milestone=despair
	race=human
	gender=male
	#portrait=
	description= _ "<b>Juangh</b>"
	
	##додати кілька етапів для нього
[/character_profile]

[character_profile]
	id=Dolmannumbil
	name= _ "Dolmannumbil"
	affiliation= _ "Oldwood"
	requires_milestone=wose_oldwood
	race=wose
	gender=?
	portrait="portraits/woses/ancient-wose.png"
	description= _ "<b>Wose</b>"
	
	##додати етап зі смерттю
[/character_profile]

[character_profile]
	id=Asa
	name= _ "Asa"
	affiliation= _ "Clearwater Port"
	requires_milestone=southbay
	race=human
	gender=female
	portrait="portraits/asa/asa_chapter2.png"
	description= _ "<b>Asa</b>"
	
    [additional_info]
    	requires_milestone=priorities
    	portrait="portraits/asa/asa_chapter3.png"
    	description= _ "Start"
	[/additional_info]
	
	[additional_info]
    	requires_milestone=priorities_end
		status=dead
    	description= _ "End"
	[/additional_info]
[/character_profile]

[character_profile]
	id=Faisim
	name= _ "Faisim"
	affiliation= _ "Wesfolk of Lich-Lord Lenvan"
	requires_milestone=stormvale
	race=_"???"
	gender=female
	additional_titles= _ "Undying Monster"
	portrait="portraits/wesfolk/faisim.png"
	description= _ "<b>Faisim</b>"
[/character_profile]

#[character_profile]
#	id=Haenys
#	name= _ "Haenys"
#	affiliation= _ "Oldwood"
#	requires_milestone=wose_oldwood
#	race=wose
#	gender=male
#	description= _ "<b>Wose</b>"
#[/character_profile]
#
#[character_profile]
#	id=Andrin
#	name= _ "Andrin"
#	affiliation= _ "Oldwood"
#	requires_milestone=wose_oldwood
#	race=wose
#	gender=male
#	description= _ "<b>Wose</b>"
#[/character_profile]
#
#[character_profile]
#	id=Council
#	name= _ "Council of Mages"
#	affiliation= _ "Oldwood"
#	requires_milestone=wose_oldwood
#	race=wose
#	gender=male
#	description= _ "<b>Wose</b>"
#[/character_profile]
#
#[character_profile]
#	id=Addroran
#	name= _ "King Addroran IV"
#	affiliation= _ "Oldwood"
#	requires_milestone=wose_oldwood
#	race=wose
#	gender=male
#	description= _ "<b>Wose</b>"
#[/character_profile]
#
#[character_profile]
#	id=Edvar
#	name= _ "Count Edvar"
#	affiliation= _ "Oldwood"
#	requires_milestone=wose_oldwood
#	race=wose
#	gender=male
#	description= _ "<b>Wose</b>"
#[/character_profile]
#
#[character_profile]
#	id=Caror
#	name= _ "Lich-Lord Caror"
#	affiliation= _ "Oldwood"
#	requires_milestone=wose_oldwood
#	race=wose
#	gender=male
#	description= _ "<b>Wose</b>"
#[/character_profile]
#
#[character_profile]
#	id=Lenvan
#	name= _ "Lich-Lord Lenvan"
#	affiliation= _ "Oldwood"
#	requires_milestone=wose_oldwood
#	race=wose
#	gender=male
#	description= _ "<b>Wose</b>"
#[/character_profile]
#
#[character_profile]
#	id=Doulas
#	name= _ "Doulas"
#	affiliation= _ "Oldwood"
#	requires_milestone=wose_oldwood
#	race=wose
#	gender=male
#	description= _ "<b>Wose</b>"
#[/character_profile]
#
#[character_profile]
#	id=Synyr
#	name= _ "Synyr"
#	affiliation= _ "Oldwood"
#	requires_milestone=wose_oldwood
#	race=wose
#	gender=male
#	description= _ "<b>Wose</b>"
#[/character_profile]
#
#[character_profile]
#	id=Yencyr
#	name= _ "Yencyr"
#	affiliation= _ "Oldwood"
#	requires_milestone=wose_oldwood
#	race=wose
#	gender=male
#	description= _ "<b>Wose</b>"
#[/character_profile]