#textdomain wesnoth-ctl

#by Iris

##додати Андрін, Гаеніс, Рада Магів, Король Південної Бухти, Граф Чорнотопу, Ліч-Лорд Карор, Ліч-Лорд Ленван, Синир, Доулас, Єнцир

[character_profile]
	id=Haralin
	name= _ "Haralin"
	affiliation= _ "Seerwick of Blackmore"
	race=human
	gender=male
	age=14
	portrait="portraits/haralin/Haralin_L0.webp"
	description= _ "TODO"
	
	[additional_info]
	#+
    	requires_milestone=invasion
		portrait="portraits/haralin/Haralin_L1.webp"
    	description= _ "TODO"
		age=27
	[/additional_info]
	
	[additional_info]
	#+
    	requires_milestone=oldwood
		portrait="portraits/haralin/Haralin_L2.webp"
		affiliation= _ "Temple of Oldwood"
		additional_titles= _ "Teacher"
    	description= _ "TODO"
		age=46
	[/additional_info]
	
	[additional_info]
	#+
    	requires_milestone=priorities
		portrait="portraits/haralin/Haralin_L3.webp"
		affiliation= _ "Southbay"
		additional_titles= _ "Teacher, The First Mage"
    	description= _ "TODO"
		age=58
	[/additional_info]
	
	[additional_info]
    	requires_milestone=union
		affiliation= _ "None"
		additional_titles= _ "Teacher, The First Mage, The Cursed One"
    	description= _ "TODO"
		age=59
	[/additional_info]
[/character_profile]

[character_profile]
	id=Voice
	name= _ "Voice"
	affiliation= _ "???"
	additional_titles= _ "Messenger of Light"
	description= _ "TODO"

	[additional_info]
	#+
    	requires_milestone=quiescence
		name= _ "Second Soul"
		portrait="portraits/undead/ghost.webp"
		additional_titles= _ "Messenger of Light, Voice"
    	description= _ "TODO"
	[/additional_info]
	
	[additional_info]
	#+
    	requires_milestone=quiescence_end
		status=dead
    	description= _ "TODO"
	[/additional_info]
[/character_profile]

[character_profile]
	id=Daeola
	name= _ "Daeola"
	affiliation= _ "Temple of Oldwood"
	#+
	requires_milestone=oldwood
	race=human
	gender=female
	age=26
	portrait="portraits/daeola/daeola_L0.webp"
	description= _ "TODO"
	
	[additional_info]
	#+
    	requires_milestone=aftermath
		portrait="portraits/daeola/daeola_L1.webp"
    	description= _ "TODO"
	[/additional_info]
	
	[additional_info]
	#+
    	requires_milestone=priorities
		portrait="portraits/daeola/daeola_L2.webp"
		additional_titles= _ "Prophetess of Light"
    	description= _ "TODO"
		age=38
	[/additional_info]
	
	[additional_info]
    	requires_milestone=duty
		status=dead
    	description= _ "TODO"
	[/additional_info]
[/character_profile]

[character_profile]
	id=Zeham
	name= _ "Zeham"
	affiliation= _ "Seerwick of Blackmore"
	#+
	requires_milestone=zeham_despair
	race=human
	gender=male
	#portrait=
	age=19
	description= _ "TODO"
	
	[additional_info]
	#+
    	requires_milestone=zeham_oldwood
    	description= _ "TODO"
		affiliation =_"Temple of Oldwood"
		age=38
	[/additional_info]
	
	[additional_info]
	#+
    	requires_milestone=zeham_priorities
		name=_"Sir Zeham"
		portrait="portraits/humans/grand-knight-2.webp"
    	description= _ "TODO"
		affiliation =_"Southbay"
		age=50
	[/additional_info]
	
	[additional_info]
    	requires_milestone=zeham_union
    	description= _ "TODO"
		affiliation =_"None"
	[/additional_info]
	
	[additional_info]
    	requires_milestone=zeham_blackmore
    	description= _ "TODO"
		age=51
	[/additional_info]
	
	[additional_info]
	#+
    	requires_milestone=zeham_dead
		status=dead
    	description= _ "TODO"
	[/additional_info]
[/character_profile]

[character_profile]
	id=Juangh
	name= _ "Juangh"
	affiliation= _ "Seerwick of Blackmore"
	#+
	requires_milestone=juangh_despair
	race=human
	gender=male
	age=47
	#portrait=
	description= _ "TODO"
	
	[additional_info]
	#+
    	requires_milestone=juangh_oldwood
    	description= _ "TODO"
		affiliation =_"Temple of Oldwood"
		age=66
	[/additional_info]
	
	##додати кілька етапів для нього
	#peaceful
	[additional_info]
	#+
    	requires_milestone=juangh_dead_priorities_1
		status=dead
		age=75
    	description= _ "TODO"
	[/additional_info]
	
	#caror
	[additional_info]
	#+
    	requires_milestone=juangh_dead_priorities_2
		status=dead
		age=78
    	description= _ "TODO"
	[/additional_info]
	
	[additional_info]
	#+
    	requires_milestone=juangh_dead
		status=dead
    	description= _ "TODO"
	[/additional_info]
[/character_profile]

[character_profile]
	id=Dolmannumbil
	name= _ "Dolmannumbil"
	affiliation= _ "Oldwood"
	#+
	requires_milestone=wose
	race=wose
	gender=?
	portrait="portraits/woses/ancient-wose.webp"
	description= _ "TODO"
	
	##додати етап зі смерттю
	[additional_info]
	#+
    	requires_milestone=wose_priorities
    	description= _ "TODO"
	[/additional_info]
	
	[additional_info]
    	requires_milestone=wose_finale
    	description= _ "TODO"
	[/additional_info]
	
	[additional_info]
	#+
    	requires_milestone=wose_dead
		status=dead
    	description= _ "TODO"
	[/additional_info]
[/character_profile]

[character_profile]
	id=Asa
	name= _ "Sergeant Asa"
	affiliation= _ "Clearwater Port"
	#+
	requires_milestone=aftermath
	race=human
	gender=female
	age=35
	portrait="portraits/asa/asa_chapter2.webp"
	description= _ "TODO"
	
    [additional_info]
	#+
    	requires_milestone=priorities
    	portrait="portraits/asa/asa_chapter3.webp"
		age=47
    	description= _ "TODO"
	[/additional_info]
	
	[additional_info]
	#+
    	requires_milestone=priorities_end
		status=dead
    	description= _ "TODO"
	[/additional_info]
[/character_profile]

[character_profile]
	id=Faisim
	name= _ "Faisim"
	affiliation= _ "Wesfolk of Lich-Lord Lenvan"
	#+
	requires_milestone=faisim_stormvale
	race=?
	gender=female
	age=44(?)
	additional_titles= _ "Undying Monster, Princess of Deceit"
	portrait="portraits/wesfolk/faisim.webp"
	description= _ "TODO"
	
	[additional_info]
    	requires_milestone=union
		affiliation= _ "None"
    	description= _ "TODO"
	[/additional_info]
	
	[additional_info]
    	requires_milestone=faisim_undead
		race=undead
		age="44(at the time of death)"
    	description= _ "TODO"
	[/additional_info]
[/character_profile]

[character_profile]
	id=Haenys
	name= _ "Haenys"
	affiliation= _ "Temple of Oldwood"
	#+
	requires_milestone=oldwood	
	race=human
	gender=male
	portrait="portraits/humans/mage.webp"
	age=37
	description= _ "<b>Haenys</b> is one of Haralin’s earliest and most trusted disciples. He is not a particularly gifted mage, but is very persistent and organized, which has earned him a respect among the mages. He takes on some of <b>Teacher</b>’s duties, including training some of the students."

    [additional_info]
	#+
    	requires_milestone=priorities
		age=49
    	description= _ "After Haralin set out to wage war against the <b>Lich-Lords</b>, Haenys took full control of the <b>Temple of Oldwood</b>, assuming the role of the new Teacher."
	    portrait="portraits/islefolk/haenys_old.webp"
	[/additional_info]
[/character_profile]

[character_profile]
	id=Andrin
	name= _ "Andrin"
	affiliation= _ "Seerwick of Blackmore"
	race=human
	gender=male
	portrait="portraits/humans/spearman-2.webp"
	age=43
	description= _ "TODO"

    [additional_info]
	#+
    	requires_milestone=invasion
		age=56
    	description= _ "TODO"
	    portrait="portraits/islefolk/old_soldier.webp"
		status=dead
	[/additional_info]
[/character_profile]

[character_profile]
	id=Council
	name= _ "Council of Mages"
	affiliation= _ "Southbay"
	#+
	requires_milestone=oldwood
	description= _ "<b>Aezin, Sylian, Gvegvyan, Raeless TODO</b>"
[/character_profile]

[character_profile]
	id=Addroran
	name= _ "King Addroran IV"
	affiliation= _ "Southbay"
	#+
	requires_milestone=aftermath
	race=human
	gender=male
	description= _ "TODO"
[/character_profile]

[character_profile]
	id=Edvar
	name= _ "Count Edvar"
	affiliation= _ "Blackmore"
	#+
	requires_milestone=aftermath
	race=human
	gender=male
	description= _ "TODO"
[/character_profile]

[character_profile]
	id=Caror
	name= _ "Lich-Lord Caror"
	affiliation= _ "Wesfolk"
	additional_titles= _ "Lich-Lord of Curses"
	portrait="portraits/wesfolk/caror.webp"
	requires_milestone=caror
	race=undead
	gender=male
	description= _ "TODO"
[/character_profile]

[character_profile]
	id=Lenvan
	name= _ "Lich-Lord Lenvan"
	affiliation= _ "Wesfolk"
	additional_titles= _ "Lich-Lord of Trickery, Keeper of the Ruby"
	portrait="portraits/wesfolk/lenvan.webp"
	requires_milestone=lenvan
	race=undead
	gender=male
	description= _ "TODO"
[/character_profile]

[character_profile]
	id=Synyr
	name= _ "Synyr"
	affiliation= _ "Highlander Tribe"
	portrait="units/islefolk/braveheart.png~SCALE(244,244)"
	#+
	requires_milestone=synyr_stormvale
	race=human
	gender=male
	age=29
	description= _ "TODO"
[/character_profile]

[character_profile]
	id=Yencyr
	name= _ "Yencyr"
	affiliation= _ "Stormvale"
	requires_milestone=yencyr
	portrait="portraits/humans/lancer.webp"
	race=human
	gender=male
	age=48
	description= _ "TODO"
[/character_profile]