##textdomain wesnoth-ctl
[world_entry]
	id=s6_tablet_1
	title= _ "Tablet of Prophecies (Truth)"
	requires_milestone=s6_tablet_1
	text=  _"<span font-family='Oldania ADF Std' font-size='26000' color='white'>
<i>There's always good, and evil too,
Yet both are <b>one</b>, forever true.
But who has judged how they align?
And who decreed what's <b>evil</b> sign?</i></span>"
[/world_entry]

[world_entry]
	id=s6_tablet_2
	title= _ "Tablet of Prophecies (War)"
	requires_milestone=s6_tablet_2
	text=  _"<span font-family='Oldania ADF Std' font-size='26000' color='white'>	
<i>When <b>island</b> suffers undead threat,
Will kindness halt their ruthless spread?
When that one wakes the Land of Dead,
Will hero's glow bring doom to dread?
And when the <b>two</b> in battle stand,
Does one still hold Light's guiding hand?</i></span>"
[/world_entry]

[world_entry]
	id=s6_tablet_3
	title= _ "Tablet of Prophecies (Choice)"
	requires_milestone=s6_tablet_3
	text=  _"<span font-family='Oldania ADF Std' font-size='26000' color='white'>	
<i>No single path is bathed in light,
There's only <b>goal</b> in your sight.
For why you walk, the cause you strive,
That's what <b>you</b>'ll reap when you arrive.</i></span>"
[/world_entry]

[world_entry]
	id=s6_arvit
	title= _ "Note from Esten Mines #1"
	requires_milestone=s6_arvit
	text=  _"<span font-family='Oldania ADF Std' font-size='26000' color='white'><b>From the journal of Aravit, the overseer of the Western Far Caves. 

...Sometimes, I be seein’ shapes on that side, like statues o’ folk standin’ there or somethin'... Who knows, but my men say there be wicked spirits livin’ in these caves. I don’t believe ‘em, but still...</b></span>"
[/world_entry]

[world_entry]
	id=s6_penella
	title= _ "Note from Esten Mines #2"
	requires_milestone=s6_penella
	text=  _"<span font-family='Oldania ADF Std' font-size='26000' color='white'><b>From the diary of Penella, Master Alin's wife.

...I hate them monsters fer what they done to my poor husband! I wanna make them all pay for him, but I gotta play along, else they’ll eat me too...

I gotta get outta this hole, away from these filthy miners an’ murderers, away from damned Esten. What ‘bout Southbay outskirts? Should be much safer there, long as I live to make it...</b></span>"
[/world_entry]

[world_entry]
	id=s6_unnamed
	title= _ "Note from Esten Mines #3"
	requires_milestone=s6_unnamed
	text=  _"<span font-family='Oldania ADF Std' font-size='26000' color='white'><b>From the notes of unnamed miner.
		
Esten’s fallen, undead things all ‘round, an’ our own folk gone full mad! They done kilt our master, an’ then they started eatin’ people — P E O P L E!!! Me an’ a few o’ mine, we makin’ a run fer the spider tunnel. They say beasts took over part o’ the mines there, like that bastard Caror cursed the land, but we’ll break through!</b></span>"
[/world_entry]


[world_entry]
	id=s6_eddek
	title= _ "Note from Esten Mines #4"
	requires_milestone=s6_eddek
	text=  _"<span font-family='Oldania ADF Std' font-size='26000' color='white'><b>From the notes of Eddek, a miner.
		
Them cursed spiders done grabbed me, blast ‘em! Right ‘fore I blacked out from their poison, I saw ‘em snatch up Yran an’ Madreor. Rest of ‘em likely long gone, leavin’ us behind. Can’t blame ‘em—what was they supposed to do? Kill them big ol’ beasts with pickaxes? Ha! Sure.

So, I woke up wrapped in their webs, still breathin’, still got my hammer. Started breakin’ away at the rock bit by bit till I clawed my way to a tunnel. Thought I was free, but nah. I see the way out, but there’s a damn chasm in my path. Ain’t no way I can jump it, an’ I can’t break through neither — lost my hammer in the dark...</b></span>"
[/world_entry]


[world_entry]
	id=s6_unnamed_2
	title= _ "Note from Esten Mines #5"
	requires_milestone=s6_unnamed_2
	text=  _"<span font-family='Oldania ADF Std' font-size='21000' color='white'><b>From the notes of unnamed miner.
		
An’ we done busted through them cursed spiders... but not all of us. Not even close... Them beasts snatched one... then another... then one more... Three o’ ours, gone! But that weren’t even the worst. We figured we’d poke ‘round these mines, but somethin’s changed. Like a quake hit, an’ now there’s critters crawlin’ all over—things I ain’t never seen. We was headin’ for the Far Caves, thought maybe someone made it, but then bats came swarmin’, horrible sounds ‘round there, an’ then... then they got Gliravan. So we backed off to Second Camp. Only me an’ Ywyn left now. We’re leavin’ this cursed place, gotta find a way out... Think I see some light yonder...

We found a way out, but when we got near the lake, somethin’ huge grabbed Ywyn, tentacles or somethin’! An’ me... I just ran. I heard her screamin’, beggin’ me t’ come back, then she started cursin’ me... But what was I supposed t’ do?! Ain’t no weapon, ain’t no pickax — nothin’! If only... If only I coulda... I’d have saved every last one o’ ya. Yran, Eddek, Madreor, Gliravan, an’ now Ywyn too... I swear, if I make it outta here, I’ll get revenge on Caror! Alright... now I’ll grab my stash an’ make a run for it. Marked it all on the map. I can do this... Wait! I hear voices! People, they gettin’ closer! That’s gotta be our boys — it’s the Esten March!</b></span>"
[/world_entry]

[world_entry]
	id=s6_tozarii
	title= _ "Note from Esten Mines #6"
	requires_milestone=s6_tozarii
	text= _"<span font-family='Oldania ADF Std' font-size='26000' color='black'><b>From the journal of Tozarii,
the overseer of the Eastern Far Caves. 

...the ground here has always been calm, but now for some reason there are strong earthquakes, many of my workers have been crushed, may their souls rest in peace.

The connection with the other mining camps has been lost, so we'll just sit here and wait for help to come.

Well, there will be no help. Esten has been seized, and the remnants of its defenders are fleeing in fear in the direction of the Western Far Caves. I let some people go with them, but I'll stay here, I think it's safer.</b></span>"
[/world_entry]

[world_entry]
	id=s6_rurohin
	title= _ "Note from Esten Mines #7"
	requires_milestone=s6_rurohin
	text= _"<span font-family='Oldania ADF Std' font-size='21000' color='white'><b>From the notes of General Rurohin, Commander of the Clearwater Army

My warriors held the walls with valiant resolve, when—out of nowhere these abominations began appearing in the very heart of the city! How is such a thing even possible? I ordered a retreat to the mountains, for according to our scouts, there were mines where we could make our stand.

Yet we could not find them — only the entrance to some cavern, where we stumbled upon a miners’ encampment, sheltering many terrified souls. We took most with us, yet some chose to remain behind. There was no time to persuade them, it was their choice, and their folly.

Now, we have entrenched ourselves deeper within these caves. We shall hold out to the last warrior, but how much longer can we endure? I can already feel it — HE is coming. This will be our final battle.

This is the end! Only a handful of wounded soldiers remain at my side, and yet... that monstrosity still advance! And he is alone! Just one, yet no weapon we wield can so much as wound this Caror! Not a single man has managed to harm him! I must face him myself. Either I shall put an end to this nightmare, or I shall perish trying!

At-tack... of en-nemy... re-pe-led... LO-RD CAROR... has... left... Es-sten...

But... around... still... many... much... more... Wes-folk...

... De-fense... of Es-sten... con-ti-nues... War-riors... con-ti-nue... the fight...</b></span>"
[/world_entry]


#[world_entry]
#	id=s6_arvit
#	title= _ "Irdya"
#	requires_milestone=s6_unnamed
#	text= 
#[/world_entry]
#
#
#[world_entry]
#	id=s6_arvit
#	title= _ "Irdya"
#	requires_milestone=s6_unnamed
#	text= 
#[/world_entry]
#
#[world_entry]
#	id=s6_arvit
#	title= _ "Irdya"
#	requires_milestone=s6_unnamed
#	text= 
#[/world_entry]
#
#[world_entry]
#	id=Irdya
#	title= _ "Irdya"
#	text= _ "<b>Irdya</b> is the name of this vast world. It has existed since time immemorial and gone through countless changes, the latest of which is a devastating event known as <b>the Great Fall</b>, or more simply, <b>the Fall</b>.
#
#Populated by many varied creatures—both sapient and otherwise—Irdya was once a thriving realm that saw the rise and fall of many civilizations, most of them learned in at least one form of magic or technology: humans, elves, dwarves, orcs, to name a few.
#
#Irdya has two suns, named <b>Sela</b> and <b>Naia</b>, as well as one moon occasionally known as <b>Eidyia</b>. Some ancient records of dubious origin claim that a second, smaller moon could seldom be spotted in the times when only Sela roamed the skies.
#
#The largest landmass on Irdya is known as the <b>Great Continent</b>. Much of its geography changed drastically after the Fall, and the current state of civilization has made it impossible to properly chart the alterations."
#
##ifdef CAMPAIGN_AFTER_THE_STORM_EPISODE_III
#	[additional_info]
#		requires_milestone=elynia_unleashed
#		text= _ "Irdya is one of ten worlds where a primordial construct known as a <b>Seed</b> was planted; Irdya’s is the <b>Seed of Earth</b>, which during the First Cycle gave way to the dominion of <b>Xia’el</b>, Guardian of Earth."
#	[/additional_info]
##endif
#[/world_entry]
#
#[world_entry]
#	id=The_Fall
#	title= _ "The Fall"
#	text= _ "A long time ago, the world of <b>Irdya</b> was completely transformed by a cataclysm referred to as <b>the Great Fall</b>, or more simply, <b>the Fall</b>.
#
#Much of what is currently “known” about the calamity that befell Irdya has been pieced together from fragments passed down through oral tradition by the peoples who survived the turmoil.
#
#It is said that at the exact time of the catastrophe, a deafening boom louder than even the greatest volcanic eruption was heard; the next instant, the earth violently shook and tore asunder, crumbling every bastion of the old empires to dust and sinking even some of the tallest mountains to the depths of the world. Volcanoes everywhere stirred to life and poured molten rock and poisonous ash into the now darkened skies; then, the vast ocean rose to meet the clouds before fiercely descending upon the land, claiming what little remained standing after the initial convulsion.
#
#Untold millions perished at the hands of Irdya herself; then in the aftermath, millions more were massacred by the panic-stricken in their senseless frenzy. The impenetrable veil in the sky not only denied all of navigational aid, but also caused all plant life to wither away even in places that had not been directly touched by destruction yet; whether it be from the poisonous rain, or from the accursed darkness that suffocated the earth and submerged all into a timeless haze. Soon, any leaders left or risen amongst the ashes of civilization would resort to barbarism and unholy practices in a desperate attempt to perpetuate their pitiable existences in the warped new world.
#
#Thus, the <b>Golden Age</b> of the peoples of Irdya came to its end.
#
#Many years later, the suns <b>Sela</b> and <b>Naia</b> would finally return, only to turn the once verdant Great Continent into a barren husk of rock and sand; a place where all kinds of life battle each other for survival at day, and vengeful spectres of the past haunt the dunes at night."
#[/world_entry]
#