#textdomain wesnoth-ctl

[achievement_group]
    display_name=_"Chasing the Light"
    content_for=Chasing_the_Light
    [achievement]
        id = "ctl_book"
        name = _"Book Worm"
        description = _"Сollect all the books with Wesfolk spells."
        icon="data/core/images/items/book5.png"
        icon_completed="data/core/images/items/book5.png~SCALE(72,72)~BLIT("data/core/images/misc/achievement-frames/frame-9-red.png",0,0)"
        max_progress = 7
		##реалізовано 4(1 S2; 3 S7)
    [/achievement]
    [achievement]
        id = "ctl_avatar"
        name = _"Avatar"
        description = _"Master all 5 elements of nature."
        icon="data/core/images/units/monsters/giant-mudcrawler-attack3.png"
        icon_completed="data/core/images/units/monsters/giant-mudcrawler-attack3.png~SCALE(72,72)~BLIT("data/core/images/misc/achievement-frames/frame-9-red.png",0,0)"
        max_progress = 5
    [/achievement]
	[achievement]
        id = "ctl_traveler"
        name = _"Traveler"
        description = _"Visit all the signposts that Haralin will encounter throughout the main branch of the campaign."
        icon="data/core/images/scenery/signpost.png"
        icon_completed="data/core/images/scenery/signpost.png~SCALE(72,72)~BLIT("data/core/images/misc/achievement-frames/frame-9-red.png",0,0)"
        max_progress = 99
    [/achievement]
    [achievement]
        id = "ctl_father"
        name = _"Scenario 1: Not time to retire yet"
        description = _"Advance Andrin to the next level. Are you sure it was worth it?"
        hidden=yes
        icon="data/add-ons/Chasing_the_Light/images/units/islefolk/old_soldier.png~TC(1,magenta)"
        icon_completed="data/add-ons/Chasing_the_Light/images/units/islefolk/old_soldier.png~TC(1,magenta)~SCALE(72,72)~BLIT("data/core/images/misc/achievement-frames/frame-8-acid.png",0,0)"
    [/achievement]
    [achievement]
        id = "ctl_kamikaze"
        name = _"Scenario 2: Get out of my village!"
        description = _"Zeham furiously attacks Dark Sorceress on the first turn."
        icon="data/core/images/items/spear.png"
        icon_completed="data/core/images/items/spear.png~SCALE(72,72)~BLIT("data/core/images/misc/achievement-frames/frame-8-acid.png",0,0)"
    [/achievement]
    [achievement]
        id = "ctl_all_spirits"
        name = _"Scenario 3: Profitable exchange"
        description = _"Convert all Haralin's peasants into the spirits."
        icon="data/core/images/scenery/summoning-center.png"
        icon_completed="data/core/images/scenery/summoning-center.png~SCALE(72,72)~BLIT("data/core/images/misc/achievement-frames/frame-8-acid.png",0,0)"
    [/achievement]
    [achievement]
        id = "ctl_debtor"
        name = _"Scenario 3: Debtor of the Light"
        description = _"Save a disgruntled peasant. You know who this is about."
        icon="data/core/images/units/human-peasants/peasant.png~RC(magenta>reef)"
        icon_completed="data/core/images/units/human-peasants/peasant.png~RC(magenta>reef)~SCALE(72,72)~BLIT("data/core/images/misc/achievement-frames/frame-8-acid.png",0,0)"
    [/achievement]
    [achievement]
        id = "ctl_ornate"
        name = _"Scenario 4: Strange ornate"
        description = _"Daeola looks where she shouldn't."
        icon="data/core/images/items/ornate1.png"
        icon_completed="data/core/images/items/ornate1.png~SCALE(72,72)~BLIT("data/core/images/misc/achievement-frames/frame-8-acid.png",0,0)"
    [/achievement]
    [achievement]
        id = "ctl_swap_exam"
        name = _"Scenario 4: You're menace!"
        description = _"Daeola somehow fails the First Trial."
        icon="data/core/images/items/dummy.png"
        icon_completed="data/core/images/items/dummy.png~SCALE(72,72)~BLIT("data/core/images/misc/achievement-frames/frame-8-acid.png",0,0)"
    [/achievement]
    [achievement]
        id = "ctl_selfheal"
        name = _"Scenario 4: I'm not ready yet"
        description = _"Try to heal Daeola with her remote healing spell."
        icon="data/add-ons/Chasing_the_Light/images/units/daeola/L0_Apprentice/daeola.png~TC(1,magenta)"
        icon_completed="data/add-ons/Chasing_the_Light/images/units/daeola/L0_Apprentice/daeola.png~TC(1,magenta)~SCALE(72,72)~BLIT("data/core/images/misc/achievement-frames/frame-8-acid.png",0,0)"
    [/achievement]
	[achievement]
        id = "ctl_esten_inn"
        name = _"Scenario 5: Mysterious basement"
        description = _"You know you fell into an obvious trap and it wasn't worth it, right?"
        icon="data/add-ons/Chasing_the_Light/images/units/wesfolk/captain/undead-captain.png~TC(2,magenta)"
        icon_completed="data/add-ons/Chasing_the_Light/images/units/wesfolk/captain/undead-captain.png~TC(2,magenta)~SCALE(72,72)~BLIT("data/core/images/misc/achievement-frames/frame-8-acid.png",0,0)"
    [/achievement]
    [achievement]
        id = "ctl_swamp_ghost"
        name = _"Scenario 5: No more evil swamp"
        description = _"Destroy all Wesfolk monoliths to exorcise enslaved spirits."
        icon="data/core/images/scenery/monolith4.png"
        icon_completed="data/core/images/scenery/monolith4.png~SCALE(72,72)~BLIT("data/core/images/misc/achievement-frames/frame-8-acid.png",0,0)"
        max_progress = 5
    [/achievement]
    [achievement]
        id = "ctl_save_esten"
        name = _"Scenario 5: Phantom menace"
        description = _"Penella and her people leave the Swamp of Esten."
        icon="data/core/images/units/human-outlaws/fugitive+female.png~TC(4,magenta)"
        icon_completed="data/core/images/units/human-outlaws/fugitive+female.png~TC(4,magenta)~SCALE(72,72)~BLIT("data/core/images/misc/achievement-frames/frame-8-acid.png",0,0)"
    [/achievement]
    [achievement]
        id = "ctl_stealth"
        name = _"Scenario 6: Stealth mission"
        description = _"Subdue rock elementals without disturbing them."
        icon="data/add-ons/Chasing_the_Light/images/units/elementals/earth-elemental/elemental-earth.png"
        icon_completed="data/add-ons/Chasing_the_Light/images/units/elementals/earth-elemental/elemental-earth.png~SCALE(72,72)~BLIT("data/core/images/misc/achievement-frames/frame-8-acid.png",0,0)"
    [/achievement]
    [achievement]
        id = "ctl_cursed_islefolk"
        name = _"Scenario 6: Civil war"
        description = _"Leave not a single cursed Islefolk warrior alive."
        icon="data/add-ons/Chasing_the_Light/images/items/burial-single.png"
        icon_completed="data/add-ons/Chasing_the_Light/images/items/burial-single.png~SCALE(72,72)~BLIT("data/core/images/misc/achievement-frames/frame-8-acid.png",0,0)"
    [/achievement]
	[achievement]
        id = "ctl_caves_treasure"
        name = _"Scenario 6: Forgotten treasure"
        description = _"Find very valuable cache of the dead miner."
        icon="data/core/images/items/leather-pack.png"
        icon_completed="data/core/images/items/leather-pack.png~SCALE(72,72)~BLIT("data/core/images/misc/achievement-frames/frame-8-acid.png",0,0)"
    [/achievement]
	[achievement]
        id = "ctl_burin"
        name = _"Scenario 6: Burin the Found"
		hidden=yes
        description = _"Find the hiding place of a familiar dwarf."
        icon="data/core/images/units/dwarves/steelclad-idle-2.png"
        icon_completed="data/core/images/units/dwarves/steelclad-idle-2.png~SCALE(72,72)~BLIT("data/core/images/misc/achievement-frames/frame-8-acid.png",0,0)"
    [/achievement]
    [achievement]
        id = "ctl_all_notes"
        name = _"Scenario 6: Complete picture"
        description = _"Find all the notes of those who have remained in the caves forever."
        icon="data/core/images/items/book1.png"
        icon_completed="data/core/images/items/book1.png~SCALE(72,72)~BLIT("data/core/images/misc/achievement-frames/frame-8-acid.png",0,0)"
        max_progress = 7
    [/achievement]
	[achievement]
        id = "ctl_caves_blind"
        name = _"Scenario 6: Blind company"
		hidden=yes
        description = _"Don't learn the refugees' secret. Are you serious?"
        icon="data/core/images/items/necklace-bone.png"
        icon_completed="data/core/images/items/necklace-bone.png~SCALE(72,72)~BLIT("data/core/images/misc/achievement-frames/frame-8-acid.png",0,0)"
    [/achievement]
    [achievement]
        id = "ctl_conversation_asa"
        name = _"Scenario 6: Similarities and differences"
        description = _"Listen the entire conversation between Daeola and Sergeant Asa."
        icon="data/core/images/units/human-loyalists/sergeant.png~TC(1,magenta)"
        icon_completed="data/core/images/units/human-loyalists/sergeant.png~TC(1,magenta)~SCALE(72,72)~BLIT("data/core/images/misc/achievement-frames/frame-8-acid.png",0,0)"
    [/achievement]
	[achievement]
        id = "ctl_skull_escape"
        name = _"Scenario 7: Cowardly skull"
        description = _"Banish Familiar from the battlefield in Scarhane. It's easy, right?"
        icon="data/add-ons/Chasing_the_Light/images/units/wesfolk/familiar/familiar-3.png~TC(2,magenta)"
        icon_completed="data/add-ons/Chasing_the_Light/images/units/wesfolk/familiar/familiar-3.png~TC(2,magenta)~SCALE(72,72)~BLIT("data/core/images/misc/achievement-frames/frame-8-acid.png",0,0)"
    [/achievement]
	[achievement]
        id = "ctl_read_graves"
        name = _"Scenario 7: Forgotten and not yet forgotten"
        description = _"Read all the inscriptions on the graves at Scarhane Cemetery."
        icon="data/add-ons/Chasing_the_Light/images/items/gravestone1.png"
        icon_completed="data/add-ons/Chasing_the_Light/images/items/gravestone1.png~SCALE(72,72)~BLIT("data/core/images/misc/achievement-frames/frame-8-acid.png",0,0)"
		max_progress = 12
    [/achievement]
	[achievement]
        id = "ctl_save_s7_peasant"
        name = _"Scenario 7: Desperate Fighter"
		#po: Відчайдушний селянин-новобранець успішно відходить до копальні.
        description = _"A desperate peasant recruit successfully retreats to the mines."
        icon="data/core/images/units/human-peasants/peasant-attack1.png"
        icon_completed="data/core/images/units/human-peasants/peasant-attack1.png~TC(1,magenta)~SCALE(72,72)~BLIT("data/core/images/misc/achievement-frames/frame-8-acid.png",0,0)"
		max_progress = 12
    [/achievement]
	[achievement]
        id = "ctl_orc_poly"
        name = _"Scenario 7: Tame The Beast"
		#po: Заберіть у ворожої чаклунки книгу з унікальним різновидом закляття 'Поліморф'.
        description = _"Retrieve the book containing a unique variant of the Polymorph spell from the enemy sorceress."
        icon="data/core/images/units/orcs/warlord-attack-sword-2.png~TC(2,magenta)"
        icon_completed="data/core/images/units/orcs/warlord-attack-sword-2.png~TC(2,magenta)~SCALE(72,72)~BLIT("data/core/images/misc/achievement-frames/frame-8-acid.png",0,0)"
    [/achievement]
	[achievement]
        id = "ctl_conversation_count"
        name = _"Scenario 7: Personal reasons"
        description = _"Listen the entire conversation between Daeola and Count Edvar."
        icon="data/core/images/units/human-loyalists/royal-warrior.png~TC(4,magenta)"
        icon_completed="data/core/images/units/human-loyalists/royal-warrior.png~TC(4,magenta)~SCALE(72,72)~BLIT("data/core/images/misc/achievement-frames/frame-8-acid.png",0,0)"
    [/achievement]
	[achievement]
        id = "ctl_asa"
        name = _ "Insurgent"
        description = _"Ignore all advices from Sergeant Asa."
        icon="data/core/images/units/human-loyalists/sergeant-attack-sword-4.png~TC(1,magenta)"
        icon_completed="data/core/images/units/human-loyalists/sergeant-attack-sword-4.png~TC(1,magenta)~SCALE(72,72)~BLIT("data/core/images/misc/achievement-frames/frame-9-red.png",0,0)"
        max_progress = 3
        ##поки реалізовано 3
    [/achievement]
	[achievement]
        id = "ctl_voice_bend"
        name = _"Scenario 8: Expected Failure"
		hidden=yes
        description = _"Try to cast the 'Bend Nature' spell on the Second Soul."
        icon="data/add-ons/Chasing_the_Light/images/units/spirits/voice/voice-s-attack-3.png~RC(magenta>white)" 
        icon_completed="data/add-ons/Chasing_the_Light/images/units/spirits/voice/voice-s-attack-3.png~RC(magenta>white)~SCALE(72,72)~BLIT("data/core/images/misc/achievement-frames/frame-8-acid.png",0,0)"
    [/achievement]
	[achievement]
        id = "ctl_voice_kill"
		#po: Небезпечні спогади
        name = _"Scenario 8: Dangerous Memories"
		#po: Переможіть Другу Душу, знищивши її спогадами.
        description = _"Defeat the Second Soul using Memories."
        icon="data/core/images/scenery/summoning-circle5.png" 
        icon_completed="data/core/images/scenery/summoning-circle5.png~SCALE(72,72)~BLIT("data/core/images/misc/achievement-frames/frame-8-acid.png",0,0)"
    [/achievement]
	[achievement]
        id = "ctl_voice_all_copies"
		#po: Командна робота
        name = _"Scenario 8: Teamwork"
		#po: Переможіть Другу Душу, повернувши контроль над усіма спогадами.
        description = _"Defeat the Second Soul by restoring control over all Memories."
        icon="data/core/images/scenery/rock-cairn.png" 
        icon_completed="data/core/images/scenery/rock-cairn.png~SCALE(72,72)~BLIT("data/core/images/misc/achievement-frames/frame-8-acid.png",0,0)"
    [/achievement]
	[achievement]
        id = "ctl_s9_locations"
        name = _"Scenario 9: Explorer"
        description = _"Visit all locations of the Stormvale."
        icon="data/core/images/scenery/signpost.png" 
        icon_completed="data/core/images/scenery/signpost.png~SCALE(72,72)~BLIT("data/core/images/misc/achievement-frames/frame-8-acid.png",0,0)"
        max_progress = 12
	[/achievement]
	[achievement]
        id = "ctl_s9_quests"
        name = _"Scenario 9: Devotion to kindness"
        description = _"Complete all requests from the inhabitants of Stormvale."
        icon="data/core/images/items/flower4.png" 
        icon_completed="data/core/images/items/flower4.png~SCALE(72,72)~BLIT("data/core/images/misc/achievement-frames/frame-8-acid.png",0,0)"
        max_progress = 11
	[/achievement]
	[achievement]
        id = "ctl_s9_highlander"
        name = _"Scenario 9: Mountain fighter"
        description = _"Save the strange warrior from the death sentence."
        icon="data/add-ons/Chasing_the_Light/images/units/islefolk/highlander.png~RC(magenta>red)" 
        icon_completed="data/add-ons/Chasing_the_Light/images/units/islefolk/highlander.png~RC(magenta>red)~SCALE(72,72)~BLIT("data/core/images/misc/achievement-frames/frame-8-acid.png",0,0)"
    [/achievement]
	[achievement]
        id = "ctl_s9_necklace"
        name = _"Scenario 9: Special gift"
        description = _"Daeola embeds her spell in the necklace for someone very important to her."
        icon="data/core/images/items/ankh-necklace.png" 
        icon_completed="data/core/images/items/ankh-necklace.png~SCALE(72,72)~BLIT("data/core/images/misc/achievement-frames/frame-8-acid.png",0,0)"
    [/achievement]
	[achievement]
        id = "ctl_s9_crossbowman"
        name = _"Scenario 9: Mercenaries"
        description = _"Pay a group of stray crossbowmen to join Daeola."
        icon="data/add-ons/Chasing_the_Light/images/units/islefolk/crossbowman.png~RC(magenta>red)" 
        icon_completed="data/add-ons/Chasing_the_Light/images/units/islefolk/crossbowman.png~RC(magenta>red)~SCALE(72,72)~BLIT("data/core/images/misc/achievement-frames/frame-8-acid.png",0,0)"
    [/achievement]
	[achievement]
        id = "ctl_s9_flight"
        name = _"Scenario 9: Another useless spell"
        description = _"Rescue the child in the swamp without using the Flight spell."
        icon="data/add-ons/Chasing_the_Light/images/units/islefolk/child_female.png~RC(magenta>red)" 
        icon_completed="data/add-ons/Chasing_the_Light/images/units/islefolk/child_female.png~RC(magenta>red)~SCALE(72,72)~BLIT("data/core/images/misc/achievement-frames/frame-8-acid.png",0,0)"
    [/achievement]
	[achievement]
        id = "ctl_s9_chess"
        name = _"Scenario 9: Grandmaster of chess"
        description = _"Defeat the King of Stormvale playing a new Wesfolk game."
        icon="data/add-ons/Chasing_the_Light/images/items/chess.png" 
        icon_completed="data/add-ons/Chasing_the_Light/images/items/chess.png~SCALE(72,72)~BLIT("data/core/images/misc/achievement-frames/frame-8-acid.png",0,0)"
    [/achievement]
	[achievement]
        id = "ctl_s9_monke"
        name = _"Scenario 9: King of the Mountains"
		hidden=yes
        description = _"Win the respect of the mountain monkey."
        icon="data/add-ons/Chasing_the_Light/images/units/monsters/monke.png" 
        icon_completed="data/add-ons/Chasing_the_Light/images/units/monsters/monke.png~SCALE(72,72)~BLIT("data/core/images/misc/achievement-frames/frame-8-acid.png",0,0)"
    [/achievement]
    #[achievement]
    #    id = "ctl_first_blood"
    #    name = _"Scenario 11: The first blood"
    #    hidden=yes
    #    description = _"Daeola became the first mage to die in this campaign."
    #    icon="data/core/images/items/bones.png"
    #    icon_completed="data/core/images/items/bones.png~SCALE(72,72)~BLIT("data/core/images/misc/achievement-frames/frame-6-sky.png",0,0)"
    #[/achievement]
    #[achievement]
    #    id = "ctl_angel"
    #    name = _"Scenario 11: Lonely Angel"
    #    description = _"You've saved lives, fought against enemies. And now everyone fell, but you are still standing."
    #    icon="data/core/images/items/sword-holy.png"
    #    icon_completed="data/core/images/items/sword-holy.png~SCALE(72,72)~BLIT("data/core/images/misc/achievement-frames/frame-6-sky.png",0,0)"
    #[/achievement]
	##завершити на 3
    #[achievement]
    #    id = "ctl_no_mage_recruit"
    #    name = _"Hater of Mages"
    #    hidden=yes
    #    description = _"Complete the campaign on any difficulty without recruiting a single mage."
    #    icon="data/core/images/items/staff-magic-2.png"
    #    icon_completed="data/core/images/items/staff-magic-2.png~SCALE(72,72)~BLIT("data/core/images/misc/achievement-frames/frame-8-acid.png",0,0)"
    #[/achievement]
    #[achievement]
    #    id = "ctl_happy_end"
    #    name = _"Happy ending"
    #    description = _"Zeham, Yencyr, Synyr, Saoiric, Faisim and some Spirits live long enough to see The Epilogue of Daeola's branch."
    #    icon="data/core/images/items/ball-magenta.png"
    #    icon_completed="data/core/images/items/ball-magenta.png~SCALE(72,72)~BLIT("data/core/images/misc/achievement-frames/frame-8-acid.png",0,0)"
    #[/achievement]
    #[achievement]
    #    id = "ctl_hard_d"
    #    name = _"The Legend of the Green Isle"
    #    description = _"Complete Daeola's branch of the campaign on the Hard Difficulty."
    #    icon="data/add-ons/Chasing_the_Light/images/units/daeola/daeola_4.png~TC(1,magenta)"
    #    icon_completed="data/add-ons/Chasing_the_Light/images/units/daeola/daeola_4.png~TC(1,magenta)~SCALE(72,72)~BLIT("data/core/images/misc/achievement-frames/frame-8-acid.png",0,0)"
    #[/achievement]
    #[achievement]
    #    id = "ctl_hard_h"
    #    name = _"The First Mage of the Green Isle"
    #    description = _"Complete Haralin's branch of the campaign on the Hard Difficulty."
    #    icon="data/add-ons/Chasing_the_Light/images/units/wesfolk/lenvan/lenvan.png~TC(2,magenta)"
    #    icon_completed="data/add-ons/Chasing_the_Light/images/units/wesfolk/lenvan/lenvan.png~TC(2,magenta)~SCALE(72,72)~BLIT("data/core/images/misc/achievement-frames/frame-8-acid.png",0,0)"
    #[/achievement]
[/achievement_group]
