#textdomain wesnoth-ctl

#define PATH_D
units/daeola/L0_Apprentice_Unarmed#enddef

[unit_type]
    id=Daeola_L0_Apprentice_Unarmed
    name= _ "Apprentice"
    race=human
    gender=female
    image="{PATH_D}/daeola.png"
	profile="portraits/daeola/daeola_L0_unarmed.webp"
    hitpoints=22
    movement_type=smallfoot
    movement=5
    experience=25
    level=0
    alignment=lawful
    advances_to=null
    {AMLA_DEFAULT}
    usage=mixed fighter
    description= _"Any future mage begin their journey as an apprentice, because without the help of a more experienced sorcerer it's almost impossible to understand the essence of magic and learn its basics, unless the beginner has an incredible talent or is guided by a higher power."
    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
	{DEFENSE_ANIM "{PATH_D}/daeola.png" "{PATH_D}/daeola.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }

    [resistance]
        arcane=70
    [/resistance]
	#undef PATH_D
[/unit_type]
