#textdomain wesnoth-ctl

#define PATH_D
units/daeola/L2#enddef

[unit_type]
    id=Daeola_L2
    name= _ "Prophetess of Light"
    race=human
    gender=female
    image="{PATH_D}/daeola.png"
	profile="portraits/daeola/daeola_L2.png"
    hitpoints=48
    movement_type=smallfoot
    movement=6
    experience=90
    level=2
    alignment=lawful
    advances_to=null
    {AMLA_DEFAULT}
    usage=healer
    description= ""

    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
    {DEFENSE_ANIM "{PATH_D}/daeola.png" "{PATH_D}/daeola.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }

    [abilities]
        {ABILITY_CURES}
    [/abilities]
    [resistance]
        arcane=50
    [/resistance]
	[attack]
        name=light touch
        description=_"touch of light"
        icon=attacks/touch-faerie.png
        type=arcane
        [specials]
		    {WEAPON_SPECIAL_REDEMPTION}
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        range=melee
        damage=7
        number=3
        range=melee
    [/attack]
	 [attack_anim]
        [filter_attack]
            name=faerie touch
        [/filter_attack]
        start_time=-200
        [frame]
            image="{PATH_D}/daeola.png:[100,200,100]"
        [/frame]
    [/attack_anim]
	
	
	##redemtion ability
	[event]
        name=die
        first_time_only=no

        [filter]
			[not]
			    type_adv_tree=Skeleton, Skeleton Archer, Skeleton Rider, Ghoul, Dark Adept, Mage, Apprentice, Rogue Mage, Walking Corpse
			[/not]
        [/filter]
        [filter_second_attack]
            special_type=redemption
        [/filter_second_attack]

        [store_unit]
            [filter]
                x,y=$x1,$y1
            [/filter]
            variable=redemption_plagued
        [/store_unit]

        [kill]
            x,y=$x1,$y1
            fire_event=no
            animate=no
        [/kill]
        [unit]
            type=$redemption_plagued.type
            side=$second_unit.side
			hitpoints="$($redemption_plagued.max_hitpoints / 2)"
            x,y=$x1,$y1
            moves=0
            attacks_left=0
            animate=no
        [/unit]
        {CLEAR_VARIABLE redemption_plagued}
    [/event]
	
#undef PATH_D
[/unit_type]
