#textdomain wesnoth-ctl

#############################
# CUSTOM WEAPON SPECIALS
#############################
#define WEAPON_SPECIAL_IMPALE
    [impale]
        id,name=impale, _"impale"
        description= _"An adjacent enemy that moves out of this unit's reach is struck for 14 pierce damage."
    [/impale]
#enddef

#define WEAPON_SPECIAL_REDEMPTION
    [redemption]
        id,name=redemption, _"redemption"
        description= _"This ability turns any defeated creature with a soul to the side of Light with half HP. Doesn't work on skeletons, corpses and mages of Darkness."
    [/redemption]
#enddef

#define WEAPON_SPECIAL_BLIND
    [dazzle]
        id,name=blind, _"blind"
        description= _"A unit struck by this attack is blinded until the end of the turn. A blinded unit cannot attack and has no zone of control."
    [/dazzle]
#enddef

#############################
# CUSTOM ABILITIES
#############################
#define ABILITY_BONEMAIL
    [dummy]
        id,name=bonemail, _"bonemail"
        description= _"Skeletal resistances: 40% blade, 60% pierce and 60% cold, but -20% impact, -20% fire and -40% arcane."
    [/dummy]
#enddef
