#textdomain wesnoth-ctl

#define FIRE_EVENT NAME
    #
    [fire_event]
        name={NAME}
    [/fire_event]
#enddef
#define SOUND FILE
    #
    [sound]
        name={FILE}
    [/sound]
#enddef
#define DELAY TIME
    [delay]
        time={TIME}
    [/delay]
#enddef
#define SCREEN_FADER RGB ALPHA DURATION
    [screen_fade]
        red,green,blue={RGB}
        alpha={ALPHA}
        duration={DURATION}
    [/screen_fade]
#enddef
#define REMOVE_OBJECT OBJECT_ID FILTER_WML
    #
    [remove_object]
        object_id={OBJECT_ID}
        {FILTER_WML}
    [/remove_object]
#enddef
#define GIVE_OBJECT_TO FLT WML
    #
    [modify_unit]
        {FILTER {FLT}}
        [object]
            {WML}
        [/object]
    [/modify_unit]
    #
#enddef
#define EFFECT APPLY_TO WML
    #
    [effect]
        apply_to={APPLY_TO}
        {WML}
    [/effect]
    #
#enddef
#define VARIABLES_SPLIT NAME KEY SEPARATOR LIST
    #
    [set_variables]
        name={NAME}
        [split]
            key={KEY}
            separator={SEPARATOR}
            list={LIST}
        [/split]
    [/set_variables]
    #
#enddef
#define KILL FILTER
#arg ANIMATE
no#endarg
#arg FIRE_EVENT
no#endarg
    [kill]
        {FILTER}
        animate={ANIMATE}
        fire_event={FIRE_EVENT}
    [/kill]
#enddef
#define NAME UNITNAME
    [+unit]
        name={UNITNAME}
    [/unit]
#enddef
#define MODIFICATIONS WML
    #
    [modifications]
        {WML}
    [/modifications]
#enddef
#define ADD_MODIFICATION WML
    [+unit]
        [modifications]
            {WML}
        [/modifications]
    [/unit]
#enddef
