#textdomain wesnoth-ctl
[unit_type]
    id=House_Cat
    name= _ "House Cat"
    race=monster
    gender=male
    image="units/islefolk/cat.png~FL(horiz)"
    alignment=lawful
    hitpoints=12
    movement,movement_type=5,smallfoot
    level=0
    usage=scout
    description= _ "An ordinary house cat, what else did you expect to read here? Meow!"
    die_sound={SOUND_LIST:HUMAN_DIE}
    [resistance]
        blade=120
        pierce=120
        impact=120
        arcane=120
        fire=120
        cold=120
    [/resistance]
[/unit_type]
