#textdomain wesnoth-ctl
#unit by Mechanical

[unit_type]
    id=Highlander
    name= _ "Highlander"
    race=human

    {TRAIT_FEARLESS}
    {TRAIT_FERAL_MUSTHAVE}

    image="units/islefolk/highlander.png"
    hitpoints=39
    movement_type=smallfoot
    movement=5

    [resistance]
        cold=80 
    [/resistance]

    [defense]
        hills=40
        mountains=30
        frozen=60
    [/defense]

    [movement_costs]
        hills=1
        mountains=2
        frozen=2
    [/movement_costs]

    experience=42
    level=1
    alignment=lawful
    advances_to=Braveheart
    cost=15
    usage=fighter
    die_sound={SOUND_LIST:HUMAN_DIE}
    description= _ "In the mountains of the Green Isle live the mysterious tribes of the Highlanders. They are an ancient people who pride themselves on their warrior traditions and blacksmithing. There are rumors that the Highlanders are distant relatives of the Wesfolk, but no one knows for sure. Some kingdoms of the Green Isle have managed to make the Highlanders their vassals. In the event of war, Highlander units join their suzerain's army. They're far more dangerous than than a simple militia, especially in mountainous terrain."

    {DEFENSE_ANIM "units/islefolk/highlander-defend-2.png" "units/islefolk/highlander-defend-1.png" {SOUND_LIST:HUMAN_HIT}}

    [attack]
        name=sword
        description=_"sword"               
        icon=attacks/sword-human.png
        type=blade
        range=melee
        damage=9
        number=2
    [/attack]

    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        start_time=-150
        [frame]
            image="units/islefolk/highlander.png:150" 
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -150}
    [/attack_anim]
[/unit_type]
