#textdomain wesnoth-ctl

# This file describes the advancement tree for frontier peasants.
# which is basically a reskinning of Outlaws

# One line of advancement line runs from Peasant (reskinned Thug)
# through Village Brawler (reskinned Bandit) to Village Defender
# (reskinned Highwayman). These are the ordinary village inhabitants.

[unit_type]
    [base_unit]
        id=Thug
    [/base_unit]
    id=Thug_Peasant
    [abilities]
        [outlaw_type_hack]
            id=Thug
        [/outlaw_type_hack]
    [/abilities]
    name= _ "Villager"
	advances_to=Bandit_Peasant
    description= _ "Peasants live in the small hamlets and villages scattered across the Green Isle countryside."
[/unit_type]

[unit_type]
    [base_unit]
        id=Bandit
    [/base_unit]
    id=Bandit_Peasant
    [abilities]
        [outlaw_type_hack]
            id=Bandit
        [/outlaw_type_hack]
    [/abilities]
    name= _ "Village Brawler"
	advances_to=Highwayman_Peasant
    description= _ "Not all disputes are settled by words alone. Some villagers, exceptionally strong and fiercely protective, rise to defend their homes and kin with their maces. They are part of their community's militia, ready to face any threat head-on."
[/unit_type]

[unit_type]
    [base_unit]
        id=Highwayman
    [/base_unit]
    id=Highwayman_Peasant
    [abilities]
        [outlaw_type_hack]
            id=Highwayman
        [/outlaw_type_hack]
    [/abilities]
    name= _ "Village Defender"
    description= _ "Having proven their mettle in countless skirmishes, the Village Defenders stand as an unwavering bulwark for their people. Their wisdom now extends beyond the local gossip to a profound understanding of defense tactics and community protection."
[/unit_type]

# Another line of advancement runs from Peasant Youth (reskinned Footpad)
# through Watchman (Reskinned Outlaw) to Borderer (reskinned Fugitive).
[unit_type]
    [base_unit]
        id=Ruffian
    [/base_unit]
    id=Ruffian_Peasant
    [abilities]
        [outlaw_type_hack]
            id=Ruffian
        [/outlaw_type_hack]
    [/abilities]
    name= _ "Peasant Youngster"
    advances_to=Footpad_Peasant,Thug_Peasant
    description= _"From an early age, Green Isle's peasant youth are involved in hard labor in the fields, herding cattle, or learning their parents' craft. However, although most of their day is spent without even a moment of rest, they occasionally gather for village games, wrestling, and to help the village guards repel invaders."
[/unit_type]

[unit_type]
    [base_unit]
        id=Footpad
    [/base_unit]
    id=Footpad_Peasant
    [abilities]
        [outlaw_type_hack]
            id=Footpad
        [/outlaw_type_hack]
    [/abilities]
    name= _ "Peasant Youth"
    advances_to=Outlaw_Peasant
    description= _ "The scruffy-haired peasant youth are much like the young people living elsewhere on the Green Isle: reckless, cocky, and eager to explore."
    [female]
        name= _ "female^Peasant Youth"
    [/female]
[/unit_type]

[unit_type]
    [base_unit]
        id=Outlaw
    [/base_unit]
    id=Outlaw_Peasant
    [abilities]
        [outlaw_type_hack]
            id=Outlaw
        [/outlaw_type_hack]
    [/abilities]
    name= _ "Watchman"
    advances_to=Fugitive_Peasant
    description= _ "The watchmen are men and women who protect the villages from marauders, both human and otherwise, that prowl the Green Isle countryside at night."
    [female]
        name= _ "female^Watchwoman"
    [/female]
[/unit_type]

[unit_type]
    [base_unit]
        id=Fugitive
    [/base_unit]
    id=Fugitive_Peasant
    [abilities]
        [outlaw_type_hack]
            id=Fugitive
        [/outlaw_type_hack]
    [/abilities]
    name= _ "Borderer"
    # wmllint: local spelling borderers
    description= _ "Border villages maintain militias dedicated to fending off hostiles. While these borderers are not trained and armed to up to military standards, their native toughness and knowledge of local conditions make them formidable on their home ground."
    [female]
        name= _ "female^Borderer"
    [/female]
[/unit_type]

# And a third line is the village hunters. Peasant Hunter (reskinned Poacher)
# advances to Peasant Trapper (reskinned Trapper) which can advance either to
# Peasant Huntsman (reskinned Huntsman) or to Human Ranger. The Peasant
# Huntsman does a little better in swamps than the base unit.

[unit_type]
    [base_unit]
        id=Poacher
    [/base_unit]
    id=Poacher_Peasant
    [abilities]
        [outlaw_type_hack]
            id=Poacher
        [/outlaw_type_hack]
    [/abilities]
    name= _ "Peasant Hunter"
    advances_to=Trapper_Peasant
    description= _ "Villages, especially in wilder areas near frontiers, rely on hunters to bring in much of their food supply. Their stealth and intimate knowledge of local terrain can be valuable assets in combat."
[/unit_type]

[unit_type]
    [base_unit]
        id=Trapper
    [/base_unit]
    id=Trapper_Peasant
    [abilities]
        [outlaw_type_hack]
            id=Trapper
        [/outlaw_type_hack]
    [/abilities]
    name= _ "Peasant Trapper"
    advances_to=Huntsman_Peasant,Ranger
    description= _ "Trappers are skilled hunters who supply food and furs for several villages. Their hunting experience makes them most valuable at night and in forests and swamps."
[/unit_type]

[unit_type]
    [base_unit]
        id=Huntsman
    [/base_unit]
    id=Huntsman_Peasant
    [abilities]
        [outlaw_type_hack]
            id=Huntsman
        [/outlaw_type_hack]
    [/abilities]
    name= _ "Peasant Huntsman"
    # wmllint: local spelling wamprats
    description= _ "Huntsmen have spent their lives in the backwoods and swamps of their wilderness homes. They can bullseye ferocious swamp rats and track anything that moves in their territory."
[/unit_type]
