#textdomain wesnoth-ctl
[unit_type]
    id=Leandre
    name= _ "Nobleman"
    race=human
    image="units/islefolk/leandre.png"
    profile="portraits/islefolk/leandre.png"
    hitpoints=62
    movement_type=smallfoot
    movement=5
    experience=100
    level=2
    alignment=lawful
    advances_to=null
	{AMLA_DEFAULT}
    cost=24
    usage=fighter
    description= _ "TODO"
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/islefolk/leandre.png" "units/islefolk/leandre.png" {SOUND_LIST:HUMAN_HIT} }
    [resistance]
        pierce=60
    [/resistance]

    [attack]
        name=sword
        description=_"sword"
        icon=attacks/longsword.png
        type=blade
        range=melee
        damage=9
        number=3
    [/attack]

    [attack]
        name=shield bash
        description=_"shield bash"
        icon=attacks/heater-shield.png
        type=impact
        range=melee
        damage=10
        number=2
        [specials]
            {WEAPON_SPECIAL_STUN}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        start_time=-200
        offset=0.0~0.25:200,0.25:150,0.25~0.0:450
        [frame]
            image="units/islefolk/leandre1.png:100"
        [/frame]
        [frame]
            image="units/islefolk/leandre2.png:100"
        [/frame]
        [frame]
            image="units/islefolk/leandre3.png:150"
        [/frame]
        [frame]
            image="units/islefolk/leandre4.png:100"
        [/frame]
        [frame]
            image="units/islefolk/leandre5.png:100"
        [/frame]
        [frame]
            image="units/islefolk/leandre6.png:100"
        [/frame]
        [frame]
            image="units/islefolk/leandre7.png:75"
        [/frame]
        [frame]
            image="units/islefolk/leandre8.png:75"
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} 0}
    [/attack_anim]
[/unit_type]
