#textdomain wesnoth-ctl
[unit_type]
    id=Nobleman
    name= _ "Nobleman"
    race=human
    image="units/islefolk/nobleman.png"
    alignment=lawful
    hitpoints=18
    movement,movement_type=2,smallfoot
    level=1
	moves=5
	#po: TODO
    description= _ "TODO"
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/islefolk/nobleman.png" "units/islefolk/nobleman.png" {SOUND_LIST:HUMAN_OLD_HIT} }
    [resistance]
        blade=120
        pierce=120
        impact=120
        arcane=120
        fire=120
        cold=120
    [/resistance]
[/unit_type]
