#textdomain wesnoth-ctl
[unit_type]
    id=Web Unit
    name= _ "Spider Web"
    ellipse=none
    alignment=neutral
    die_sound=hiss.wav
	hide_help=yes
	do_not_list=yes
    hitpoints=43
    movement=0
    level=0
	#po: Скупчення павутиння небувалих розмірів, які зустрічаються глибоко під землею, куди не полізне жодна розумна людина. Цікаво, наскільки величезною є тварюка, що його створила?
    description= _"A cluster of spider webs of unprecedented size, found deep underground, where no sane person would venture. One wonders how huge the beast must be to have created it."
    [death]
        start_time=0
        [frame]
            duration=0,"misc/blank-hex.png"
        [/frame]
    [/death]
    [resistance]
        blade=120
        pierce=80
        impact=60
        arcane=100
        fire=120
        cold=30
    [/resistance]

    [event]
        name=last breath
        first_time_only=no
        [filter]
            type=Web Unit
        [/filter]

        #[sound]
        #name=hiss.wav
        #[/sound]

        {MODIFY_TERRAIN Uu $x1 $y1}
    [/event]
[/unit_type]
