#textdomain wesnoth-ctl
##utility unit
[unit_type]
    hide_help=yes
	do_not_list=yes
    id=Arcane Codex

    [abilities]
        {ABILITY_BONEMAIL}
    [/abilities]

    [attack]
        name=spear
        description= _"spear"
        icon=attacks/spear.png
        type=pierce
        range=melee
        attack_weight=0
        damage=14
        number=2
        [specials]
            {WEAPON_SPECIAL_IMPALE}
        [/specials]
    [/attack]

    [attack]
        name=light touch
        description= _"touch of light"
        icon=attacks/touch-faerie.png
        type=arcane
        range=melee
        attack_weight=0
        damage=7
        number=3
        [specials]
            {WEAPON_SPECIAL_REDEMPTION}
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]

    [attack]
        name=dazzle
        description= _"dazzle"
        icon=attacks/fire-blast.png
        type=fire
        range=ranged
        attack_weight=0
        damage=3
        number=3
        [specials]
            {WEAPON_SPECIAL_BLIND}
        [/specials]
    [/attack]
[/unit_type]
