#textdomain wesnoth-ctl
[unit_type]
    [base_unit]
        id=Swamp Lizard
    [/base_unit]
    id=Swamp Lizard Poly
    [attack]
        [specials]
            {WEAPON_SPECIAL_POISON}
        [/specials]
    [/attack]
[/unit_type]

[unit_type]
    [base_unit]
        id=Cave Bear
    [/base_unit]
    id=Cave Bear Poly
    [attack]
        [specials]
            [dummy]
                id=consume
                name=_"consume"
                description=_"This unit regains <span color='#00FF00'>30%</span> of its maximum hitpoints whenever it kills a living unit."
            [/dummy]
        [/specials]
    [/attack]
    [attack]
        [specials]
            [dummy]
                id=consume
                name=_"consume"
                description=_"This unit regains <span color='#00FF00'>30%</span> of its maximum hitpoints whenever it kills a living unit."
            [/dummy]
        [/specials]
    [/attack]
[/unit_type]

[unit_type]
    [base_unit]
        id=Yeti
    [/base_unit]
    id=Yeti Poly
    [abilities]
        {ABILITY_REGENERATES}
    [/abilities]
[/unit_type]

[unit_type]
    [base_unit]
        id=Orcish Warlord
    [/base_unit]
    id=Orcish Warlord Poly
    [attack]
        [specials]
            {WEAPON_SPECIAL_CHARGE}
        [/specials]
    [/attack]
[/unit_type]
