#textdomain wesnoth-ctl

#define SCALE
~SCALE_SHARP(250,250)#enddef

[unit_type]
    id=Tree Portal Completed
    name= _ "Portal"
    race=monster
    hitpoints=1
    movement=0
    level=3
    alignment=chaotic
    advances_to=null
    description= _  "TODO"
	hp_bar_scaling=0
	xp_bar_scaling=0
	bar_offset_x = 10000
	bar_offset_y = 10000
    [resistance]
        blade=65
        pierce=65
        impact=50
        fire=60
        cold=75
        arcane=85
    [/resistance]
    [standing_anim]
        [vortex_frame]
            duration=2000
            image="units/elementals/air-elemental/air-elemental-[1~50].png{SCALE}"
            image_mod="~SCALE(220,110)~GS()~R(-255)~G(-255)~B(-255)"
            auto_vflip=false
            layer=28
            y=10
        [/vortex_frame]
        [vortex2_frame]
            duration=2000
            image="units/elementals/air-elemental/air-elemental-[1~50].png{SCALE}"
            image_mod="~SCALE(220,110)~GS()~R(-255)~G(-255)~B(-255)"
            auto_vflip=false
            layer=28
            y=10
        [/vortex2_frame]
        [vortex3_frame]
            duration=2000
            image="units/elementals/air-elemental/air-elemental-[1~50].png{SCALE}"
            image_mod="~SCALE(220,110)~GS()~R(-255)~G(-255)~B(-255)"
            auto_vflip=false
            layer=28
            y=10
        [/vortex3_frame]
		[portal_frame]
            image=halo/blackportal/00[01~24].png{SCALE}:25
            auto_vflip=false
            layer=100
            y=10
        [/portal_frame]
        [fx_frame]
            image=halo/blackportal/fx-[9,1,3,5,2,1,6,3,2,7,4,8].png{SCALE}:50
            auto_vflip=false
            layer=101
            y=10
        [/fx_frame]
        [lightning3_frame]
            duration=4500
            image="halo/air-lightning/00[45~01,45~01,45~01].png{SCALE}"
            image_mod="~SCALE(180,100)~GS()~R(-255)~B(-255)~G(-255)"
            layer=1
            offset=0.0
            y=10
            alpha=0.0~1.0:2225,1.0~0.0:2225
        [/lightning3_frame]
        [fx2_frame]
            image="halo/doom-glow.png{SCALE}:6000"
            layer=102
            y=10
        [/fx2_frame]
		
        [cloud_frame]
            duration=4500
            image="halo/blizzard/0[001~130].png{SCALE}"
            image_mod="~SCALE(280,180)~GS()~R(-255)~G(-255)~B(-255)"
            auto_vflip=false
            layer=31
            y=10
        [/cloud_frame]
        [lightning_frame]
            duration=4500
            image="halo/air-lightning/00[01~45,01~45,01~45].png{SCALE}"
            image_mod="~SCALE(120,60)~GS()~R(250)~B(-100)~G(-100)"
            layer=99
            offset=0.0
            y=10
        [/lightning_frame]
        [lightning2_frame]
            duration=4500
            image="halo/air-lightning/00[01~45,01~45,01~45].png{SCALE}"
            image_mod="~SCALE(140,80)~GS()~R(250)~B(-255)~G(-255)"
            layer=99
            offset=0.0
            y=10
        [/lightning2_frame]
        [lightning3_frame]
            duration=4500
            image="halo/air-lightning/00[45~01,45~01,45~01].png{SCALE}"
            image_mod="~SCALE(180,100)~GS()~R(-250)~B(-255)~G(-255)"
            layer=99
            offset=0.0
            y=10
            alpha=0.0~1.0:2225,1.0~0.0:2225
        [/lightning3_frame]
        [lightning4_frame]
            duration=4500
            image="halo/air-lightning/00[45~01,45~01,45~01].png{SCALE}"
            image_mod="~SCALE(200,120)~GS()~R(250)~B(-255)~G(-255)"
            layer=99
            offset=0.0
            y=10
        [/lightning4_frame]
        [frame]
            image="halo/infernalvortex/00[24~01].png{SCALE}:12"
            layer=40
            y=10
            auto_vflip=no
        [/frame]
    [/standing_anim]
	
#undef SCALE
[/unit_type]
