#textdomain wesnoth-ctl
[unit_type]
    id=Tree Portal2
    name= _ "Portal"
    race=monster
    image="units/destroyers-portals/infernalvortex-icon.png"
    image_icon="units/destroyers-portals/infernalvortex-icon.png"

    hitpoints=55#52
    movement=0
    level=3
    alignment=chaotic
    advances_to=null
    description= _  "TODO"
    [resistance]
        blade=65
        pierce=65
        impact=50
        fire=60
        cold=75
        arcane=85
    [/resistance]
    [death]
        start_time=0
        circle_start_time=0
        portal_start_time=0
        lightning_start_time=0
        [explosion_frame]
            halo="projectiles/fireball-impact-[1~16].png~SCALE(175,262)~GS()~CS(-64,-255,-255):60"
            offset=0.0
            auto_vflip=no
            sound=explosion.ogg
        [/explosion_frame]
        [frame]
            duration=960
            image="units/destroyers-portals/infernalvortex-icon-large.png"
            layer=98
            y=20
            auto_vflip=no
            alpha=1.0~0.0
        [/frame]
        [frame]
            image="misc/blank-hex.png:1"
        [/frame]
    [/death]
    [standing_anim]
        [vortex_frame]
            duration=2000
            image="units/summoners-elementals/air-elemental/air-elemental-[1~50].png"
            image_mod="~SCALE(220,110)~GS()~R(-255)~G(-255)~B(-255)"
            auto_vflip=false
            layer=28
            y=20
        [/vortex_frame]
        [vortex2_frame]
            duration=2000
            image="units/summoners-elementals/air-elemental/air-elemental-[1~50].png"
            image_mod="~SCALE(220,110)~GS()~R(-255)~G(-255)~B(-255)"
            auto_vflip=false
            layer=28
            y=20
        [/vortex2_frame]
        [vortex3_frame]
            duration=2000
            image="units/summoners-elementals/air-elemental/air-elemental-[1~50].png"
            image_mod="~SCALE(220,110)~GS()~R(-255)~G(-255)~B(-255)"
            auto_vflip=false
            layer=28
            y=20
        [/vortex3_frame]
        [cloud_frame]
            duration=4500
            image="halo/air-clouds2/0[001~130].png"
            image_mod="~SCALE(280,180)~GS()~R(-255)~G(-255)~B(-255)"
            auto_vflip=false
            layer=31
            y=20
        [/cloud_frame]
        [lightning_frame]
            duration=4500
            image="halo/air-lightning/00[01~45,01~45,01~45].png"
            image_mod="~SCALE(120,60)~GS()~R(250)~B(-100)~G(-100)"
            layer=99
            offset=0.0
            y=20
        [/lightning_frame]
        [lightning2_frame]
            duration=4500
            image="halo/air-lightning/00[01~45,01~45,01~45].png"
            image_mod="~SCALE(140,80)~GS()~R(250)~B(-255)~G(-255)"
            layer=99
            offset=0.0
            y=20
        [/lightning2_frame]
        [lightning3_frame]
            duration=4500
            image="halo/air-lightning/00[45~01,45~01,45~01].png"
            image_mod="~SCALE(180,100)~GS()~R(-250)~B(-255)~G(-255)"
            layer=99
            offset=0.0
            y=20
            alpha=0.0~1.0:2225,1.0~0.0:2225
        [/lightning3_frame]
        [lightning4_frame]
            duration=4500
            image="halo/air-lightning/00[45~01,45~01,45~01].png"
            image_mod="~SCALE(200,120)~GS()~R(250)~B(-255)~G(-255)"
            layer=99
            offset=0.0
            y=20
        [/lightning4_frame]
        [frame]
            image="halo/infernalvortex/00[24~01].png:12"
            layer=40
            y=20
            auto_vflip=no
        [/frame]
    [/standing_anim]
[/unit_type]
