#textdomain wesnoth-ctl

[unit_type]
    id=Tree Portal Start
    name= _ "Portal"
    race=monster

    hitpoints=1
    movement=0
    level=3
    alignment=chaotic
    advances_to=null
    description= _ "TODO"
    hp_bar_scaling=0
    xp_bar_scaling=0
    bar_offset_x=10000
    bar_offset_y=10000

    [resistance]
        blade=65
        pierce=65
        impact=50
        fire=60
        cold=75
        arcane=85
    [/resistance]

    [standing_anim]
        [vortex_frame]
            duration=2000
            image="units/elementals/air-elemental/air-elemental-[1~50].png"
            image_mod="~SCALE(220,110)~GS()~R(-255)~G(170)~B(255)"
            auto_vflip=false
            layer=28
            y=0
        [/vortex_frame]

        [vortex2_frame]
            duration=2000
            image="units/elementals/air-elemental/air-elemental-[1~50].png"
            image_mod="~SCALE(220,110)~GS()~R(-255)~G(190)~B(255)"
            auto_vflip=false
            layer=28
            y=0
        [/vortex2_frame]

        [vortex3_frame]
            duration=2000
            image="units/elementals/air-elemental/air-elemental-[1~50].png"
            image_mod="~SCALE(220,110)~GS()~R(-220)~G(220)~B(255)"
            auto_vflip=false
            layer=28
            y=0
        [/vortex3_frame]

        [cloud_frame]
            duration=4500
            image="halo/blizzard/0[001~130].png"
            image_mod="~SCALE(280,180)~GS()~R(-255)~G(180)~B(255)"
            auto_vflip=false
            layer=31
            y=0
        [/cloud_frame]

        [lightning_frame]
            duration=4500
            image="halo/air-lightning/00[01~45,01~45,01~45].png"
            image_mod="~SCALE(120,60)~GS()~R(-255)~G(220)~B(255)"
            layer=99
            offset=0.0
            y=0
        [/lightning_frame]

        [lightning2_frame]
            duration=4500
            image="halo/air-lightning/00[01~45,01~45,01~45].png"
            image_mod="~SCALE(140,80)~GS()~R(-255)~G(200)~B(255)"
            layer=99
            offset=0.0
            y=0
        [/lightning2_frame]

        [lightning3_frame]
            duration=4500
            image="halo/air-lightning/00[45~01,45~01,45~01].png"
            image_mod="~SCALE(180,100)~GS()~R(-220)~G(235)~B(255)"
            layer=99
            offset=0.0
            y=0
            alpha=0.0~1.0:2225,1.0~0.0:2225
        [/lightning3_frame]

        [lightning4_frame]
            duration=4500
            image="halo/air-lightning/00[45~01,45~01,45~01].png"
            image_mod="~SCALE(200,120)~GS()~R(-180)~G(235)~B(255)"
            layer=99
            offset=0.0
            y=0
        [/lightning4_frame]

        [frame]
            image="halo/infernalvortex/00[24~01].png~GS()~R(-255)~G(120)~B(200)~O(45%):12"
            layer=40
            y=0
            auto_vflip=no
        [/frame]
    [/standing_anim]
[/unit_type]