#textdomain wesnoth-ctl
[unit_type]
    id=Quintain
    name= _ "Quintain"
    race=mechanical
    image="units/spirits/quintain/quintain.png"
    movement=0
    hitpoints=15
    advances_to=null
    level=1
    cost=10
    usage=fighter
    movement_type=treefolk
    alignment=neutral
    description= _ "Quintains are used to practice swordplay and jousting on. It would be extremely unusual to be attacked by one."
    [resistance]
        blade=100
        pierce=100
    [/resistance]
    {DEFENSE_ANIM "units/spirits/quintain/quintain-defend1.png" "units/spirits/quintain/quintain-defend2.png" wose-hit.ogg}
    [attack]
        name=flail
        description= _"flail"
        icon=attacks/morning-star.png
        type=impact
        range=melee
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=5
        number=1
    [/attack]
    [attack_anim]
        [filter_attack]
            name=flail
        [/filter_attack]
        start_time=-450
        [frame]
            image=units/spirits/quintain/quintain-melee1.png:375
        [/frame]
        {SOUND:HIT_AND_MISS mace.ogg mace-miss.ogg -450}
        [frame]
            image=units/spirits/quintain/quintain-melee2.png:75
        [/frame]
        [frame]
            image=units/spirits/quintain/quintain-melee3.png:75
        [/frame]
        [frame]
            image=units/spirits/quintain/quintain-melee4.png:150
        [/frame]
        [frame]
            image=units/spirits/quintain/quintain.png:75
        [/frame]
    [/attack_anim]
[/unit_type]
