#textdomain wesnoth-ctl
[unit_type]
    [base_unit]
	    id=Grand Marshal
	[/base_unit]
    id=Asa_Wounded
	gender=female
	movement=2
    name= _"female^Veteran Commander"
	image="units/asa/marshal-die-7.png"
	profile="portraits/asa/asa_chapter3.png"
    description= _ "The rank of Grand Marshal is one of the most esteemed in the armies of humanity, and those who bear its title have survived many trials by fire, proving both their tactical wit and their considerable mettle at personal combat."
    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
    {DEFENSE_ANIM_RANGE "units/human-loyalists/marshal-defend-2.png" "units/human-loyalists/marshal-defend-1.png" {SOUND_LIST:HUMAN_FEMALE_HIT} melee }
	[death]
        start_time=0
        [frame]
            image="units/asa/marshal-die-[7~10].png:[75*2,175,125]"
        [/frame]
    [/death]
	[standing_anim]
        start_time=0
            [frame]
                image="units/asa/marshal-die-[10,9,8,7].png:[300*4]"
            [/frame]
    [/standing_anim]
[/unit_type]
