#textdomain wesnoth-ctl
[unit_type]
    [base_unit]
	id=Lieutenant
	[/base_unit]
    id=Asa_Lieutenant
	gender=female
    name= _"female^Veteran Warrior"
	advances_to=Asa_General
	profile="portraits/asa/asa_chapter2.png"
	description= _ "Lieutenants are some of the more respected commanding officers among humans and are often seen leading smaller-scale incursions and managing the battlefield. Trained both with sword and crossbow, they excel at neither, and are somewhat less resilient than the warlords of other races — this is more than made up for by their superior knowledge and training in military strategy."
	die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
    {DEFENSE_ANIM_RANGE "units/human-loyalists/lieutenant-defend-2.png" "units/human-loyalists/lieutenant-defend-1.png" {SOUND_LIST:HUMAN_FEMALE_HIT} melee}
    {DEFENSE_ANIM_RANGE "units/human-loyalists/lieutenant-crossbow-defend.png" "units/human-loyalists/lieutenant-crossbow.png" {SOUND_LIST:HUMAN_FEMALE_HIT} ranged}
[/unit_type]
