#############################
# RESELECT SKILLS
#############################
#define RESELECT_SKILLS CASTER
    [select_caster_skills]
	    [filter]
	        {CASTER}
	    [/filter]
    [/select_caster_skills]
#enddef

#define RESELECT_SKILLS_AFTER_OBJECTIVES CASTER WML_BEFORE WML_AFTER
    # doing things after showing objectives is hard. This approximates it.
    [listen_for_mousemove]
    [/listen_for_mousemove]
    [event]
        name=mousemove_synced
        [do_command]
            [fire_event]
                raise=mousemove # convert to a synced context
            [/fire_event]
        [/do_command]
    [/event]
    [event]
        name=select
        [do_command]
            [fire_event]
                raise=mousemove # convert to a synced context
            [/fire_event]
        [/do_command]
    [/event]
    [event]
        name=mousemove,recruit,recall,side 1 turn end
        {WML_BEFORE}
        [select_caster_skills]
	        [filter]
	            {CASTER}
	        [/filter]
        [/select_caster_skills]
        {WML_AFTER}
    [/event]
#enddef

#############################
# REFRESH CASTER ANIMATIONS
#############################
#define REFRESH_CASTER_ANIMATIONS CASTER
    [refresh_caster_animations]
	    [filter]
	        {CASTER}
	    [/filter]
    [/refresh_caster_animations]
#enddef



#############################
# UNLOCK SPELL
#############################
#define UNLOCK_SPELL CASTER SPELL_ID
    [unlock_spell]
	    [filter]
	        {CASTER}
	    [/filter]
	    spell_id={SPELL_ID}
    [/unlock_spell]
#enddef

#############################
# LOCK SPELL
#############################
#define LOCK_SPELL CASTER SPELL_ID
    [lock_spell]
	    [filter]
	        {CASTER}
	    [/filter]
	    spell_id={SPELL_ID}
    [/lock_spell]
#enddef

#############################
# CASTER STATUS
#############################
#define CASTER_STATUS CASTER ACTIVE
    [caster_status]
	    [filter]
	        {CASTER}
	    [/filter]
	    #yes/true or no/false
	    spellcasting_allowed = {ACTIVE}
	[/caster_status]
#enddef

#############################
# ADVANCEMENT STATUS
#############################
#define CASTER_ADVANCE CASTER ACTIVE
    [caster_advance]
	    [filter]
	        {CASTER}
	    [/filter]
	    #yes/true or no/false
	    advancement_allowed = {ACTIVE}
	[/caster_advance]
#enddef

#############################
# EQUIP SPELL
#############################
#define EQUIP_SPELL CASTER SPELL_ID
    [equip_spell]
		[filter]
		    {CASTER}
		[/filter]
		spell_id= {SPELL_ID}
	[/equip_spell]
#enddef

#############################
# UNEQUIP SPELL
#############################
#define UNEQUIP_SPELL CASTER SPELL_ID
    [unequip_spell]
		[filter]
		    {CASTER}
		[/filter]
		spell_id= {SPELL_ID}
	[/unequip_spell]
#enddef

#############################
# CHECK EQUIPPED SPELL
#############################
#define CHECK_EQUIPPED_SPELL CASTER SPELL_ID
    [find_equipped_spell]
        [filter]
            {CASTER}
        [/filter]
        spell_id = {SPELL_ID}
    [/find_equipped_spell]
#enddef

#############################
# CHECK UNLOCKED SPELL
#############################
#define CHECK_UNLOCKED_SPELL CASTER SPELL_ID
    [find_unlocked_spell]
        [filter]
            {CASTER}
        [/filter]
        spell_id = {SPELL_ID}
    [/find_unlocked_spell]
#enddef

#############################
# REMOVE CASTER
#############################
#define REMOVE_CASTER CASTER
    [remove_caster]
	    [filter]
	        {CASTER}
        [/filter]
    [/remove_caster]
#enddef

#define REMOVE_OBJECT OBJECT_ID FILTER_WML
    #
    [remove_object]
        object_id={OBJECT_ID}
        {FILTER_WML}
    [/remove_object]
#enddef