#textdomain wesnoth-ctl

#define DEFAULT_FONT_SMALL
15#enddef

[theme]
    id=Stormvale
    hidden=yes

    [resolution]
        id=1024x768
        width=1024
        height=768

        [screen]
            id=screen
            rect="0,0,1024,768"
        [/screen]

        [panel]
            id=top-panel
            image=themes/classic/menubar.png
            ref=screen
            rect="=,=,=,+26"
            xanchor=top
            yanchor=fixed
        [/panel]

        [main_map]
            id=main-map
            rect="=,+0,1024,768"
            xanchor=left
            yanchor=top
        [/main_map]

        {CUTSCENE_THEME_BACKGROUND}

        [menu]
            id=menu-main
            title= _ "Menu"
            image=button_menu/menu_button_copper_H20
            items=load,preferences,help,quit
            ref=top-panel
            rect="=,=+1,+100,=-4"
            xanchor=fixed
            yanchor=fixed
        [/menu]
		
		[action]
            id=button-objectives
            title=  _ "Objectives"
			image=button_menu/menu_button_copper_H20
            items=objectives
            rect="+0,=,+100,="
            xanchor=fixed
            yanchor=fixed
        [/action]
		
		{STATUS_BOX_BORDERLESS +5 =+0 +95 +15 gold                 turn-box-topright            fixed fixed}
        {STATUS_BOX_BORDERLESS +3 =+0 +75 +15 stormvale_quests     gold-box-topright            fixed fixed}
		{COUNTDOWN_THEME}
		
		[label]
            id=gold-icon
            icon=themes/gold.png
            ref=gold-box-center
            rect="=+1,=-1,+17,+17"
            xanchor=fixed
            yanchor=fixed
        [/label]
		
        [label]
            id=stormvale_quests-icon
            icon=misc/info_menu.png
            ref=stormvale_quests-box-center
            rect="=+1,=-1,+17,+17"
            xanchor=fixed
            yanchor=fixed
        [/label]

        [menu]
            is_context_menu=true
            items=wml,describeunit,endturn
        [/menu]
		
		[status]
		[stormvale_gold]
            id=gold
            font_size={DEFAULT_FONT_SMALL}
            ref=gold-icon
            rect="+4,=-2,+55,+16"
            xanchor=fixed
            yanchor=fixed
        [/stormvale_gold]
		
		[stormvale_quests]
            id=stormvale_quests
            font_size={DEFAULT_FONT_SMALL}
            ref=stormvale_quests-icon
            rect="+4,=-2,+55,+16"
            xanchor=fixed
            yanchor=fixed
        [/stormvale_quests]
		[/status]

        [action]
            id=button-endturn
            title=  _ "End Turn"
            title2= _ "End Scenario"
            items=endturn
            ref=screen
            rect="-110,=+1,+80,="
            xanchor=right
            yanchor=fixed
        [/action]
    [/resolution]

    [partialresolution]
        id=1024x600
        inherits=1024x768
        width=1024
        height=600
    [/partialresolution]

    [partialresolution]
        id=800x600
        inherits=1024x600
        width=800
        height=600
    [/partialresolution]

    [partialresolution]
        id=800x480
        inherits=800x600
        width=800
        height=480
    [/partialresolution]
[/theme]

#undef DEFAULT_FONT_SMALL
