#textdomain wesnoth-ctl

#define WEAPON_SPECIAL_REDEMPTION
    [redemption]
        id=redemption
        name= _ "redemption"
        description= _ "This ability turns any defeated creature with a soul to the side of Light with half HP. Doesn't work on skeletons, corpses and mages of Darkness."
    [/redemption]
#enddef

#define ABILITY_DISGUISED
    [disguised]
        id=disguised
        name= _ "disguised"
        description= _ "???"
    [/disguised]
#enddef

#define ABILITY_CURSED
    [cursed]
        id=cursed
        name= _ "cursed"
		#po: Цього бійця було проклято Владикою-Лічом Карором. Його ментальне здоров'я та світосприйняття погіршуватимуться з тим, як дія прокляття зростатиме.
        description= _ "This unit was cursed by Lord-Lich Caror. His mental health and worldview will deteriorate as the curse intensifies."
    [/cursed]
#enddef


#define ABILITY_RESONANCE
    [dummy]
        id=resonance
        name= _ "resonance"
        #po: Цей боєць відновлює 3 XP на початку кожного свого ходу.
        description= _ "This unit regains 3 XP at the start of each of its turns."
        [event]
            name=side turn
            first_time_only=no
            [modify_unit]
                [filter]
                    side=$side_number
                    ability=resonance
                [/filter]
                experience="$($this_unit.experience + 3)"
            [/modify_unit]
        [/event]
    [/dummy]
#enddef
