#textdomain wesnoth-ctl

#define ABILITY_ILLUMINATES20
    # Canned definition of the Illuminates ability to be included in an
    # [abilities] clause.
#arg HALO
""#endarg
    [illuminates]
        id=illumination
        value=20
        max_value=20
        cumulative=no
        name= _ "illuminates"
        female_name= _ "female^illuminates"
        description=  ""
        special_note={INTERNAL:SPECIAL_NOTES_ILLUMINATES}
        affect_self=yes
        halo_image={HALO}
    [/illuminates]
#enddef

#define WEAPON_SPECIAL_REDEMPTION
    [redemption]
        id=redemption
        name= _ "redemption"
        description= _ "This ability turns any defeated creature with a soul to the side of Light with half HP. Doesn't work on skeletons, corpses and mages of Darkness."
    [/redemption]
#enddef