#textdomain wesnoth-ctl
#############################
# HARALIN
#############################
#define HERODEATH_HARALIN
    [event]
    name=last breath {FILTER id,level=Haralin,0}
        #po: Укгх... Батьку, рятуй!..
        {SPEAK Haralin _"Uhhh... Dad, help me!"}
        #po: Гараліне, нащо ж ти туди поліз?!
        {SPEAK Andrin _"Haralin, why did you do that?!"}
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]

    [event]
    name=last breath {FILTER id,level=Haralin,1}
        #po: Укх... Я підвів усе своє село...
        {SPEAK Haralin _"Ugh... I have failed my entire village..."}
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]

    [event]
    name=last breath {FILTER id,level=Haralin,2}
        [if] {HAVE_UNIT id=Daeola} {THEN(
		    #po: Даеоло, тепер... все в твоїх руках...
            {SPEAK Haralin _"Daeola, now... everything is in your hands..."}
            #po: Ні, Вчителю, ні! Не помирайте, будь ласка!
            {SPEAK Daeola _"No, Teacher, no! Please don't die!"})}
			{ELSE(
			{SPEAK Haralin _"Аргх... Сподіваюсь... Даеола впорається з усім..."})}
		[/if]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]

    #{SPEAK Haralin _"Ух, скоро я побачуся з Асою та Даеолою... Укргх..."}
    #{SPEAK Faisim _"ти зіпсував <i>мій</i> задум, Гараліне!"})}
		
#enddef

#############################
# DAEOLA
#############################
#define HERODEATH_DAEOLA
    [event]
    name=last breath {FILTER id,level=Daeola,0}
        #po: Аах, ні, ні... Вчителю, рятуй!
        {SPEAK Daeola _"Aah, no, no... Teacher, help me!"}
        #po: Даеоло, не помирай! Хай Світло змилується над усіма нами!
		{SPEAK Haralin_Fake _"Daeola, do not die! May the Light have mercy on all of us!"}
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]

    [event]
    name=last breath {FILTER id,level=Daeola,1}
        #po: Аах, ні, ні... Я ще стільки всього повинна зробити, стільком допомогти...
        {SPEAK Daeola _"Aah, no, no... I still have so much to do, so many people to help..."}
        #po: Ні, Даеоло! Хай Світло змилується над усіма нами!
		{SPEAK Haralin _"No, Daeola! May the Light have mercy on all of us!"}
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]

    [event]
    name=last breath {FILTER id,level=Daeola,2-99}
        {SPEAK Daeola _"Аах, невже це кінець?.. Я не можу так померти, тільки не зараз..."}
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
#enddef

#############################
# ANDRIN
#############################
#define HERODEATH_ANDRIN
    [event]
    name=last breath {FILTER id=Andrin}
        #po: Архг... Село без мене приречене...
        {SPEAK Andrin _"Argh... The village is doomed without me..."}
	    #po: Ні! Батьку, не покидай нас!
        {SPEAK Haralin _"No! Dad, don't leave us!"}
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
#enddef

#############################
# ZEHAM
#############################
#define HERODEATH_ZEHAM
    [event]
    name=last breath {FILTER id,race=Zeham,human}
        #po: Це все це кляте чаклунство винне... Ургх...
        {SPEAK Zeham _"It's all that damned witchcraft... Urgh..."}
		{MILESTONE zeham_dead no}
    [/event]
#enddef

#############################
# JUANGH
#############################
#define HERODEATH_JUANGH
    [event]
    name=last breath {FILTER id,race=Juangh,human}
		#po: Як ж ц' розуміти... Я вмєраю... Аргх...
        {SPEAK Juangh _"How’s this even happenin’... I’m dyin’... Argh..."}
		{MILESTONE juangh_dead no}
    [/event]
#enddef

#############################
# ASA
#############################
#define HERODEATH_ASA
    [event]
    name=last breath {FILTER id=Asa}
		#po: Я віддаю своє життя за Королів, хай процвітає їхній рід у віках!
		{SPEAK Asa _"I give my life for the Kings. May their lineage prosper through the ages!"}
		#po: Хай помилує нас Світло! Без примусу сержанта інші солдати не підкорятимуться нам, завдання Короля провалене!
        {SPEAK Haralin _"May the Light have mercy on us! Without the sergeant's authority, the other soldiers won't obey us, the King's mission is failed!"}
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
#enddef

#############################
# DOLMANNUMBIL
#############################
#define HERODEATH_DOLMANNUMBIL
    [event]
    name=last breath {FILTER id=Dolmannumbil}
		#po: Коріння не зрушить наше з місця... Кінець це...
        {SPEAK Dolmannumbil _"Move not our roots will... The end this is..."}
        [if]
        [have_unit]
            id=Haralin
        [/have_unit]
        [then]
		    #po: Хай помилує вас Світло, Долманнумбіле. Воістину, покидати ліс лісовику було неймовірно необачним кроком.
		    {SPEAK Haralin _"May the Light have mercy on you, Dolmannumbil. Truly, it was an incredibly unwise move for the wose to leave their forest."}
        [/then]
        [else]
		    #po: Прощавайте, пане Долманнумбіле, я щиро сумуватиму за вами...
            {SPEAK Daeola _"Goodbye, sir Dolmannumbil, I will sincerely miss you..."}
        [/else][/if]
		{MILESTONE wose_dead no}
    [/event]
#enddef
