#textdomain wesnoth-ctl

#####################
## CO-OP MODE      ##
#####################

#define CTL_COOP_SIDE_RESERVED
    [side]
        side=2
        no_leader=yes
        hidden=yes
        controller=null
        allow_player=no
        defeat_condition=never
        team_name=Islefolk
    [/side]
#enddef

#ifdef MULTIPLAYER

#define CTL_COOP_P2_SIDE
2#enddef


#define CTL_COOP_SIDES
1,2#enddef

#define CTL_COOP_SIDE WML
    [side]
        side=2
		id=Daeola
        save_id=Daeola
        no_leader=yes
        defeat_condition=never
        controller=human
        allow_player=yes
        persistent=yes
        color=yellow
        team_name=Islefolk
        #po: Загін Даеоли
        user_team_name=_"Daeola's Squad"
        share_vision=all
        faction=Custom
        faction_lock=yes
        {FLAG_VARIANT loyalist}
        {WML}
    [/side]
#enddef

#define CTL_COOP_SPLIT
    [modify_unit]
        [filter]
            side=1
            id=Daeola,Zeham,Juangh,Synyr,Monkey
        [/filter]
        side=2
    [/modify_unit]

    [modify_unit]
        [filter]
            side=2
            id=Daeola
        [/filter]
        canrecruit=yes
    [/modify_unit]

    [store_unit]
        [filter]
            id=Haralin
        [/filter]
        variable=ctl_coop_leader
        kill=no
    [/store_unit]

    [if]
        [variable]
            name=ctl_coop_leader[0].extra_recruit
            not_equals=""
        [/variable]
        [then]
            [set_extra_recruit]
                id=Daeola
                extra_recruit=$ctl_coop_leader[0].extra_recruit
            [/set_extra_recruit]
        [/then]
    [/if]

    {CLEAR_VARIABLE ctl_coop_leader}
#enddef

#define CTL_COOP_PRE
    [event]
        name=prestart

        {CTL_COOP_OWNERS}

        [store_unit]
            [filter]
                side=2
                x,y=recall,recall
                id=Daeola,Zeham,Juangh,Synyr,Monkey
            [/filter]
            variable=ctl_coop_carryover
            kill=yes
        [/store_unit]

        [foreach]
            array=ctl_coop_carryover
            [do]
                {VARIABLE this_item.side 1}
                [unstore_unit]
                    variable=this_item
                    x,y=recall,recall
                [/unstore_unit]
            [/do]
        [/foreach]

        {CLEAR_VARIABLE ctl_coop_carryover}
    [/event]
#enddef

#define CTL_COOP_POST
    [event]
        name=prestart
        {CTL_COOP_SPLIT}
    [/event]

    [event]
        name=new turn
        first_time_only=no
        {CTL_COOP_SPLIT}
    [/event]
#enddef

#else

#define CTL_COOP_P2_SIDE
1#enddef

#define CTL_COOP_SIDES
1#enddef

#define CTL_COOP_SIDE WML
    {CTL_COOP_SIDE_RESERVED}
#enddef

#define CTL_COOP_PRE
#enddef

#define CTL_COOP_POST
#enddef

#endif

#define CTL_COOP_IS_PLAYER_SIDE VAR
    [variable]
        name={VAR}
        equals=1
    [/variable]
#ifdef MULTIPLAYER
    [or]
        [variable]
            name={VAR}
            equals=2
        [/variable]
    [/or]
#endif
#enddef

#define CTL_HARALIN_MODIFICATIONS
    [modifications]
        [trait]
            id,name,description=loyal_dummy,loyal,_"Zero upkeep."
        [/trait]
        [trait]
            id,name,description=intelligent_dummy,intelligent,""
        [/trait]
    [/modifications]
#enddef

#define CTL_COOP_COMPANION ID NAME TYPE XP WML
#ifdef MULTIPLAYER
    [event]
        name=prestart
        [if]
            [not]
                [have_unit]
                    id={ID}
                    search_recall_list=yes
                [/have_unit]
            [/not]
            [then]
                [unit]
                    side=1
                    id={ID}
                    name=_"{NAME}"
                    type={TYPE}
                    experience={XP}
                    unrenamable=yes
                    x,y=recall,recall
                    [modifications]
                        {TRAIT_LOYAL}
                        {WML}
                    [/modifications]
                [/unit]
            [/then]
        [/if]
    [/event]
#endif
#enddef

#define CTL_COOP_COMPANIONS
    {CTL_COOP_COMPANION Zeham Zeham Swordsman 20 ({TEAM_COLOR_OVERRIDE (id=Zeham) reef} {CTL_BLACKMORE_ARMOUR})}
    {CTL_COOP_COMPANION Juangh Juangh Bandit_Peasant 20 ()}
#enddef

#define CTL_BLACKMORE_ARMOUR
    [object]
        modification_scale_color_shift=yes
        modification_id=BLACKMORE
        silent=yes
        duration=forever
        [effect]
            apply_to=image_mod
            add=PAL({BASE_LOYALIST_BLUE_ARMOUR_COLOR} > {BASE_BLACKMORE_ARMOUR_COLOR})
        [/effect]
    [/object]
#enddef

#define CTL_COOP_STORY_FLAG NAME VALUE
#ifdef MULTIPLAYER
    [event]
        name=prestart
        [if]
            [variable]
                name={NAME}
                equals=""
            [/variable]
            [then]
                {VARIABLE {NAME} {VALUE}}
            [/then]
        [/if]
    [/event]
#endif
#enddef

#define CTL_COOP_STORY_FLAGS
    {CTL_COOP_STORY_FLAG Haralin_learn_Mnemonic _"true"}
    {CTL_COOP_STORY_FLAG unlock_summon_mud yes}
#enddef

#define CTL_COOP_OWNERS
    {VARIABLE ctl_coop_p2_companions "Daeola,Zeham,Juangh,Synyr,Monkey"}
#enddef
