#textdomain wesnoth-ctl

#############################
## CASTER STATE SAFETY NET ##
#############################

#define CTL_ENSURE_CASTER ID NAME PRONOUN G1 G2 G3 G4
    [event]
        name=preload
        [if]
            [variable]
                name=caster_{ID}.spell_group_1
                equals=""
            [/variable]
            [then]
                {VARIABLE caster_{ID}.u_title_select "Select {NAME}'s Spells"}
                {VARIABLE caster_{ID}.u_title_cast   "Cast {NAME}'s Spells"}
                {VARIABLE caster_{ID}.u_description  "{NAME} knows many useful spells, and will learn more as {PRONOUN} levels-up automatically throughout the campaign. {NAME} does not use XP to level-up. Instead, {PRONOUN} uses XP to cast certain spells. If you select spells that cost XP, <b>double-click on {NAME} to cast them</b>."}

                {VARIABLE caster_{ID}.spell_group_1 "{G1}"}
                {VARIABLE caster_{ID}.spell_group_2 "{G2}"}
                {VARIABLE caster_{ID}.spell_group_3 "{G3}"}
                {VARIABLE caster_{ID}.spell_group_4 "{G4}"}

                {VARIABLE caster_{ID}.spell_unlocked ""}
                {VARIABLE caster_{ID}.spell_equipped ""}

                [if]
                    [not]
                        [variable]
                            name=caster_registry
                            contains={ID}
                        [/variable]
                    [/not]
                    [then]
                        [if]
                            [variable]
                                name=caster_registry
                                equals=""
                            [/variable]
                            [then]
                                {VARIABLE caster_registry {ID}}
                            [/then]
                            [else]
                                {VARIABLE caster_registry "$caster_registry,{ID}"}
                            [/else]
                        [/if]
                    [/then]
                [/if]
            [/then]
        [/if]
    [/event]
#enddef

#define CTL_ENSURE_CASTERS H_SPELLS D_SPELLS
    {CTL_ENSURE_CASTER Haralin Haralin he (skill_magic_blast,skill_fireball2) (skill_levitate,skill_shield,skill_polymorph) (skill_summon,skill_bend) (skill_mnemonic,skill_glamour,skill_find_familiar)}

    {CTL_ENSURE_CASTER Daeola Daeola she (skill_magic_missile,skill_swap,skill_empathy) (skill_disattack,skill_healing,skill_ward,skill_interdict) (skill_dazzle,skill_blindflash,skill_disheal,skill_illuminate) (skill_lightbeam,skill_redemption,skill_smite,skill_massheal)}

    [event]
        name=prestart
        {UNLOCK_SPELL id=Haralin {H_SPELLS}}
        {UNLOCK_SPELL id=Daeola {D_SPELLS}}
    [/event]
#enddef

#############################
## STORY BASELINES         ##
#############################

#define CTL_SPELLS_H_04x
skill_magic_blast,skill_levitate,skill_summon,skill_summon_mud,skill_mnemonic#enddef
#define CTL_SPELLS_H_06
{CTL_SPELLS_H_04x},skill_shield,skill_fireball2,skill_glamour,skill_find_familiar#enddef
#define CTL_SPELLS_H_08
{CTL_SPELLS_H_06},skill_bend,skill_bend_earth#enddef
#define CTL_SPELLS_H_09
{CTL_SPELLS_H_08},skill_bend_water#enddef

#define CTL_SPELLS_D_04x
skill_swap,skill_magic_missile,skill_levitate,skill_disheal#enddef
#define CTL_SPELLS_D_06
{CTL_SPELLS_D_04x},skill_disattack#enddef
#define CTL_SPELLS_D_08
{CTL_SPELLS_D_06},skill_ward#enddef
#define CTL_SPELLS_D_10
{CTL_SPELLS_D_08},skill_relocate,skill_illuminate,skill_lightbeam,skill_massheal,skill_smite#enddef
