#textdomain wesnoth-ctl

[terrain_type]
    id=ctl_web
    name= _ "Spiderweb"
    symbol_image=spiderweb/web-tile
    string=^WCtL
    aliasof=_bas,Xt
    mvt_alias=Xt
    editor_group=ctl
[/terrain_type]

[terrain_type]
    symbol_image=water/blood
    id=ctl_blood
    name= _ "Blood"
    editor_name= _ "Blood"
    string=BCtL
    aliasof=Wst
    submerge=0.5
    editor_group=ctl
[/terrain_type]

[terrain_type]
    symbol_image=chess/nothing
    id=ctl_void
    name= _ "Nothing"
    editor_name= _ "Nothing"
    string=NCtL
    aliasof=Gt
    editor_group=ctl
[/terrain_type]

#[terrain_type]
#    symbol_image=chess/everything
#    id=ctl_every
#    name= _ "Everything"
#    editor_name= _ "Everything"
#    string=ECtL
#    aliasof=Gt
#    editor_group=ctl
#[/terrain_type]

##TERRAIN FROM TRADER

[terrain_type]
    symbol_image=furniture/well
    id=well_sl
    name= _ "Well"
    string=^ct1
    aliasof=_bas, Gg
    mvt_alias=-,_bas,Gg
    heals=8
    editor_group=ctl
[/terrain_type]

[terrain_type]
    symbol_image=furniture/bookcase
    id=bookcase_sl
    name= _ "Bookcase"
    string=^ct2
    aliasof=_bas, Gg
    gives_income=false
    editor_group=ctl
[/terrain_type]

[terrain_type]
    symbol_image=furniture/bed-se
    id=bed_sl
    name= _ "Bed"
    string=^ct3
    aliasof=_bas, Gg
    gives_income=false
    heals=8
    editor_group=ctl
[/terrain_type]

[terrain_type]
    symbol_image=furniture/roundtableandchair
    id=tableandchairs_sl
    name= _ "Table and Chairs"
    string=^ct4
    aliasof=_bas, Gg
    gives_income=false
    editor_group=ctl
[/terrain_type]

[terrain_type]
    symbol_image=furniture/bag
    id=bag_sl
    name= _ "Bag"
    string=^ct5
    aliasof=_bas, Gg
    gives_income=false
    editor_group=ctl
[/terrain_type]

[terrain_type]
    symbol_image=furniture/anvil
    id=anvil_sl
    name= _ "Anvil"
    string=^ct6
    aliasof=_bas, Gg
    gives_income=false
    editor_group=ctl
[/terrain_type]

[terrain_type]
    symbol_image=furniture/stove
    id=stove_sl
    name= _ "Stove"
    string=^ct7
    aliasof=_bas, Gg
    gives_income=false
    editor_group=ctl
[/terrain_type]

[terrain_type]
    symbol_image=furniture/barrel
    id=barrel_sl
    name= _ "Barrel"
    string=^ct8
    aliasof=_bas, Gg
    gives_income=false
    editor_group=ctl
[/terrain_type]

[terrain_type]
    symbol_image=furniture/straw-bale1
    id=straw_sl
    name= _ "Straw"
    string=^ct9
    aliasof=_bas, Gg
    gives_income=false
    editor_group=ctl
[/terrain_type]

[terrain_type]
    symbol_image=furniture/bucketfull
    id=bucket_sl
    name= _ "Bucket"
    string=^ct10
    aliasof=_bas, Gg
    gives_income=false
    editor_group=ctl
[/terrain_type]

[terrain_type]
    symbol_image=furniture/coal-pile
    id=coal-pile_sl
    name= _ "Coal"
    string=^ct11
    aliasof=_bas, Gg
    gives_income=false
    editor_group=ctl
[/terrain_type]

[terrain_type]
    symbol_image=furniture/box
    id=coal-pile_sl
    name= _ "Box"
    string=^ct12
    aliasof=_bas, Gg
    gives_income=false
    editor_group=ctl
[/terrain_type]

[terrain_type]
    symbol_image=furniture/whirlpool
    id=whirlpool
    name= _ "Whirlpool"
    string=^ct17
    aliasof=_bas, Gg
    mvt_alias=-,_bas,Gg
    editor_group=ctl
[/terrain_type]

[terrain_type]
    symbol_image=furniture/chest-closed-se
    id=chest_sl
    name= _ "Chest"
    string=^ct19
    aliasof=_bas, Gg
    gives_income=false
    editor_group=ctl
[/terrain_type]

[terrain_type]
    symbol_image=furniture/bed-fancy-se
    id=bedfancy_sl
    name= _ "Bed Fancy"
    string=^ct20
    aliasof=_bas, Gg
    gives_income=false
    editor_group=ctl
[/terrain_type]

[terrain_type]
    symbol_image=furniture/logs
    id=logs_sl
    name= _ "Logs"
    string=^ct21
    aliasof=_bas, Gg
    gives_income=false
    editor_group=ctl
[/terrain_type]

[terrain_type]
    symbol_image=furniture/horse1
    id=horse_sl
    name= _ "Horse"
    string=^ct22
    aliasof=_bas, Gg
    gives_income=false
    editor_group=ctl
[/terrain_type]

[terrain_type]
    symbol_image=furniture/flaskrack
    id=flaskrack_sl
    name= _ "Flaskrack"
    string=^ct25
    aliasof=_bas, Gg
    gives_income=false
    editor_group=ctl
[/terrain_type]

[terrain_type]
    symbol_image=furniture/armorrack
    id=armorrack_sl
    name= _ "Armorrack SL"
    string=^ct26
    aliasof=_bas, Gg
    gives_income=false
    editor_group=ctl
[/terrain_type]

[terrain_type]
    symbol_image=furniture/matress
    id=matress_sl
    name= _ "Matress SL"
    string=^ct27
    aliasof=_bas, Gg
    gives_income=false
    editor_group=ctl
[/terrain_type]

[terrain_type]
    symbol_image=furniture/desk-sw
    id=desk-sw_sl
    name= _ "Desk SW"
    string=^ct28
    aliasof=_bas, Gg
    gives_income=false
    editor_group=ctl
[/terrain_type]

[terrain_type]
    symbol_image=furniture/desk-se
    id=desk-se_sl
    name= _ "Desk SE"
    string=^ct29
    aliasof=_bas, Gg
    gives_income=false
    editor_group=ctl
[/terrain_type]

[terrain_type]
    symbol_image=furniture/redcarpet-se
    id=redcarpet-se_sl
    name= _ "Redcarpet SE"
    string=^ct30
    aliasof=_bas, Gg
    gives_income=false
    editor_group=ctl
[/terrain_type]

[terrain_type]
    symbol_image=furniture/redcarpet-sw
    id=redcarpet-sw_sl
    name= _ "Redcarpet SW"
    string=^ct31
    aliasof=_bas, Gg
    gives_income=false
    editor_group=ctl
[/terrain_type]

[terrain_type]
    symbol_image=furniture/workbench
    id=workbench_sl
    name= _ "Workbench"
    string=^ct32
    aliasof=_bas, Gg
    gives_income=false
    editor_group=ctl
[/terrain_type]

[terrain_type]
    symbol_image=furniture/weaponrack
    id=weaponrack_sl
    name= _ "Weaponrack"
    string=^ct33
    aliasof=_bas, Gg
    gives_income=false
    editor_group=ctl
[/terrain_type]

[terrain_type]
    symbol_image=furniture/table3
    id=table
    name= _ "Table"
    string=^ct37
    aliasof=_bas, Gg
    mvt_alias=-,_bas,Gg
    gives_income=false
    editor_group=ctl
[/terrain_type]

[terrain_type]
    symbol_image=furniture/roundtable
    id=roundtable_sl
    name= _ "Roundtable SL"
    string=^ct38
    aliasof=_bas, Gg
    mvt_alias=-,_bas,Gg
    editor_group=ctl
[/terrain_type]

[terrain_type]
    symbol_image=furniture/fishbox
    id=fishbox_sl
    name= _ "Fishbox SL"
    string=^ct39
    aliasof=_bas, Gg
    mvt_alias=-,_bas,Gg
    editor_group=ctl
[/terrain_type]

[terrain_type]
    symbol_image=furniture/cornbox
    id=cornbox_sl
    name= _ "Cornbox SL"
    string=^ct40
    aliasof=_bas, Gg
    mvt_alias=-,_bas,Gg
    editor_group=ctl
[/terrain_type]

[terrain_type]
    symbol_image=furniture/potatobox
    id=potatobox_sl
    name= _ "Potatobox SL"
    string=^ct41
    aliasof=_bas, Gg
    mvt_alias=-,_bas,Gg
    editor_group=ctl
[/terrain_type]

[terrain_type]
    symbol_image=furniture/boxes
    id=boxes_sl
    name= _ "Boxes"
    string=^ct42
    aliasof=_bas, Gg
    mvt_alias=-,_bas,Gg
    editor_group=ctl
[/terrain_type]

[terrain_type]
    symbol_image=furniture/box_with_dices
    id=box_with_dices_sl
    name= _ "Box with dices"
    string=^ct43
    aliasof=_bas, Gg
    mvt_alias=-,_bas,Gg
    editor_group=ctl
[/terrain_type]

[terrain_type]
    symbol_image=furniture/basket2
    id=basket2_sl
    name= _ "Basket 2"
    string=^ct44
    aliasof=_bas, Gg
    mvt_alias=-,_bas,Gg
    editor_group=ctl
[/terrain_type]

[terrain_type]
    symbol_image=furniture/basket-round-strawberry
    id=basket-round-strawberry_sl
    name= _ "Basket round strawberry"
    string=^ct45
    aliasof=_bas, Gg
    mvt_alias=-,_bas,Gg
    editor_group=ctl
[/terrain_type]

[terrain_type]
    symbol_image=furniture/openbag
    id=openbag_sl
    name= _ "Openbag"
    string=^ct46
    aliasof=_bas, Gg
    mvt_alias=-,_bas,Gg
    editor_group=ctl
[/terrain_type]

[terrain_type]
    symbol_image=furniture/indoorplant-4
    id=indoorplant-4_sl
    name= _ "indoorplant-4"
    string=^ct48
    aliasof=_bas, Gg
    mvt_alias=-,_bas,Gg
    editor_group=ctl
[/terrain_type]

[terrain_type]
    symbol_image=furniture/planttable
    id=planttable_sl
    name= _ "planttable"
    string=^ct49
    aliasof=_bas, Gg
    mvt_alias=-,_bas,Gg
    editor_group=ctl
[/terrain_type]

[terrain_type]
    symbol_image=furniture/chest-open-se
    id=chest-open-se_sl
    name= _ "Chest open"
    string=^ct50
    aliasof=_bas, Gg
    mvt_alias=-,_bas,Gg
    editor_group=ctl
[/terrain_type]

[terrain_type]
    symbol_image=furniture/brokenbarrel
    id=brokenbarrel_sl
    name= _ "Broken Barrel"
    string=^ct51
    aliasof=_bas, Gg
    mvt_alias=-,_bas,Gg
    editor_group=ctl
[/terrain_type]

[terrain_type]
    symbol_image=furniture/brokenbox
    id=brokenbox_sl
    name= _ "Broken Box"
    string=^ct52
    aliasof=_bas, Gg
    mvt_alias=-,_bas,Gg
    editor_group=ctl
[/terrain_type]

[terrain_type]
    symbol_image=furniture/brokenpot
    id=brokenpot_sl
    name= _ "Broken Pot"
    string=^ct53
    aliasof=_bas, Gg
    mvt_alias=-,_bas,Gg
    editor_group=ctl
[/terrain_type]

[terrain_type]
    symbol_image=furniture/pot
    id=pot_sl
    name= _ "Pot"
    string=^ct54
    aliasof=_bas, Gg
    mvt_alias=-,_bas,Gg
    editor_group=ctl
[/terrain_type]

[terrain_type]
    symbol_image=furniture/pot2
    id=pot2_sl
    name= _ "Pot2_sl"
    string=^ct55
    aliasof=_bas, Gg
    mvt_alias=-,_bas,Gg
    editor_group=ctl
[/terrain_type]

[terrain_type]
    symbol_image=furniture/gate-rusty-sw
    id=gate-rusty-sw_sl
    name= _ "Gate sw"
    string=^ct56
    aliasof=_bas, Gg
    mvt_alias=-,_bas,Gg
    editor_group=ctl
[/terrain_type]

[terrain_type]
    symbol_image=furniture/bookcase-and-stuff
    id=bookcase-and-stuff_sl
    name= _ "bookcase-and-stuff"
    string=^ct57
    aliasof=_bas, Gg
    mvt_alias=-,_bas,Gg
    editor_group=ctl
[/terrain_type]

[terrain_type]
    symbol_image=furniture/bookcase-and-stuff-sw
    id=bookcase-and-stuff-sw_sl
    name= _ "bookcase-and-stuff-sw"
    string=^ct58
    aliasof=_bas, Gg
    mvt_alias=-,_bas,Gg
    editor_group=ctl
[/terrain_type]

[terrain_type]
    symbol_image=furniture/gate-rusty-se
    id=gate-rusty-se_sl
    name= _ "Gate se"
    string=^ct77
    aliasof=_bas, Gg
    mvt_alias=-,_bas,Gg
    editor_group=ctl
[/terrain_type]

[terrain_type]
    symbol_image="furniture/counter"
    id=counter
    name=_ "Counter"
    string=^ct81
    aliasof=Ur
    editor_group=ctl
[/terrain_type]

[terrain_type]
    symbol_image="furniture/counter2"
    id=counter2
    name=_ "Counter"
    string=^ct82
    aliasof=Ur
    editor_group=ctl
[/terrain_type]