#textdomain wesnoth-ctl

[terrain_type]
    id=ctl_web
    name= _ "Spiderweb"
    symbol_image=spiderweb/web-tile
    string=^WCtL
    aliasof=_bas,Xt
    mvt_alias=Xt
    editor_group=ctl
[/terrain_type]

[terrain_type]
    symbol_image=chess/nothing
    id=ctl_void
    name= _ "Nothing"
    editor_name= _ "Nothing"
    string=NCtL
    aliasof=Gt
    editor_group=ctl
[/terrain_type]