#textdomain wesnoth-ctl

#----------------------------------------------------------------

# The spiderwebs. The rules are fairly specific. WCtL will not
# be drawn in quite a few locations because none of the rules will match. If you want to
# use them, be careful. Or, add more artwork and rules.
[terrain_graphics]
    [tile]
        pos=1
        type=*^WCtL
    [/tile]
    [tile]
        pos=2
        type=X*
    [/tile]
    [tile]
        pos=3
        type=!,X*
    [/tile]
    [image]
        name=spiderweb/web1.png
        layer=10
    [/image]
    [image]
        name=spiderweb/web1-bottom.png
        layer=-10
    [/image]
    map="
.,  .
, 2
2,  2
, 1
2,  3
, 3"
[/terrain_graphics]

[terrain_graphics]
    [tile]
        pos=1
        type=*^WCtL
    [/tile]
    [tile]
        pos=2
        type=X*
    [/tile]
    [tile]
        pos=3
        type=!,X*
    [/tile]
    [image]
        name=spiderweb/web2.png
        layer=10
    [/image]
    [image]
        name=spiderweb/web2-bottom.png
        layer=-10
    [/image]
    map="
.,  .
, 2
2,  2
, 1
3,  2
, 3"
[/terrain_graphics]

[terrain_graphics]
    [tile]
        pos=1
        type=*^WCtL
    [/tile]
    [tile]
        pos=2
        type=X*
    [/tile]
    [tile]
        pos=3
        type=!,X*
    [/tile]
    [image]
        name=spiderweb/web2.png
        layer=10
    [/image]
    [image]
        name=spiderweb/web2-bottom.png
        layer=-10
    [/image]
    map="
.,  .
, 3
2,  3
, 1
3,  2
, 3"
[/terrain_graphics]

[terrain_graphics]
    [tile]
        pos=1
        type=*^WCtL
    [/tile]
    [tile]
        pos=2
        type=X*
    [/tile]
    [tile]
        pos=3
        type=!,X*
    [/tile]
    [image]
        name=spiderweb/web7.png
        layer=10
    [/image]
    [image]
        name=spiderweb/web7-bottom.png
        layer=-10
    [/image]
    map="
.,  .
, 3
2,  2
, 1
2,  3
, 2"
[/terrain_graphics]

[terrain_graphics]
    [tile]
        pos=1
        type=*^WCtL
    [/tile]
    [tile]
        pos=2
        type=X*
    [/tile]
    [tile]
        pos=3
        type=!,X*
    [/tile]
    [image]
        name=spiderweb/web7.png
        layer=10
    [/image]
    [image]
        name=spiderweb/web7-bottom.png
        layer=-10
    [/image]
    map="
.,  .
, 3
2,  3
, 1
3,  1
, 3"
[/terrain_graphics]

[terrain_graphics]
    [tile]
        pos=1
        type=*^WCtL
    [/tile]
    [tile]
        pos=2
        type=X*
    [/tile]
    [tile]
        pos=3
        type=!,X*
    [/tile]
    [image]
        name=spiderweb/web5.png
        layer=10
    [/image]
    map="
.,  .
, 3
1,  3
, 1
3,  2
, 2"
[/terrain_graphics]

[terrain_graphics]
    [tile]
        pos=1
        type=*^WCtL
    [/tile]
    [tile]
        pos=2
        type=X*
    [/tile]
    [tile]
        pos=3
        type=!,X*
    [/tile]
    [image]
        name=spiderweb/web4.png
        layer=9
    [/image]
    #[image]
    #name=spiderweb/web7-bottom.png
    #layer=-10
    #[/image]
    map="
.,  .
, 3
2,  1
, 1
3,  2
, 2"
[/terrain_graphics]

[terrain_graphics]
    [tile]
        pos=1
        type=*^WCtL
    [/tile]
    [tile]
        pos=2
        type=X*
    [/tile]
    [tile]
        pos=3
        type=!,X*
    [/tile]
    [image]
        name=spiderweb/web5.png
        layer=10
    [/image]
    #[image]
    #name=spiderweb/web7-bottom.png
    #layer=-10
    #[/image]
    map="
.,  .
, 2
3,  2
, 1
2,  3
, 2"
[/terrain_graphics]

[terrain_graphics]
    [tile]
        pos=1
        type=*^WCtL
    [/tile]
    [tile]
        pos=2
        type=X*
    [/tile]
    [tile]
        pos=3
        type=!,X*
    [/tile]
    [image]
        name=spiderweb/web5.png
        layer=9
    [/image]
    #[image]
    #name=spiderweb/web7-bottom.png
    #layer=-10
    #[/image]
    map="
.,  .
, 3
3,  2
, 1
2,  3
, 2"
[/terrain_graphics]

[terrain_graphics]
    [tile]
        pos=1
        type=*^WCtL
    [/tile]
    [tile]
        pos=2
        type=X*
    [/tile]
    [tile]
        pos=3
        type=!,X*
    [/tile]
    [image]
        name=spiderweb/web9.png
        layer=10
    [/image]
    #[image]
    #name=spiderweb/web7-bottom.png
    #layer=-10
    #[/image]
    map="
.,  .
, 3
3,  3
, 1
2,  2
, 3"
[/terrain_graphics]

[terrain_graphics]
    [tile]
        pos=1
        type=*^WCtL
    [/tile]
    [tile]
        pos=2
        type=X*
    [/tile]
    [tile]
        pos=3
        type=!,X*
    [/tile]
    [image]
        name=spiderweb/web3.png
        layer=-10
    [/image]
    map="
3,  3
, 1
2,  2
, 2"
[/terrain_graphics]

[terrain_graphics]
    [tile]
        pos=1
        type=*^WCtL
    [/tile]
    [tile]
        pos=2
        type=X*
    [/tile]
    [tile]
        pos=3
        type=!,X*
    [/tile]
    [image]
        name=spiderweb/web4.png
        layer=10
    [/image]
    map="
.,  .
, *
2,  3
, 1
2,  3
, 2"
[/terrain_graphics]

[terrain_graphics]
    [tile]
        pos=1
        type=*^WCtL
    [/tile]
    [tile]
        pos=2
        type=X*
    [/tile]
    [tile]
        pos=3
        type=!,X*
    [/tile]
    [image]
        name=spiderweb/web5.png
        layer=10
    [/image]
    map="
.,  .
, *
3,  2
, 1
3,  2
, 2"
[/terrain_graphics]

[terrain_graphics]
    [tile]
        pos=1
        type=*^WCtL
    [/tile]
    [tile]
        pos=2
        type=X*
    [/tile]
    [tile]
        pos=3
        type=!,X*
    [/tile]
    [image]
        name=spiderweb/web6.png
        layer=10
    [/image]
    [image]
        name=spiderweb/web6-bottom.png
        layer=-10
    [/image]
    map="
.,  2,  .
, 2,  2
2,  1,  3
, 3,  3
.,  3,  ."
[/terrain_graphics]

[terrain_graphics]
    [tile]
        pos=1
        type=*^WCtL
    [/tile]
    [tile]
        pos=2
        type=X*
    [/tile]
    [tile]
        pos=3
        type=!,X*
    [/tile]
    [image]
        name=spiderweb/web7.png
        layer=10
    [/image]
    [image]
        name=spiderweb/web7-bottom.png
        layer=-10
    [/image]
    map="
.,  .
, 2,  .
2,  2
, 1,  2
*,  3
, 3,  ."
[/terrain_graphics]

[terrain_graphics]
    [tile]
        pos=1
        type=Q*^WCtL
    [/tile]
    [tile]
        pos=2
        type=!,Q*^*
    [/tile]
    [image]
        name=spiderweb/web8.png
        position=vertical
    [/image]
    map="
2,  2
, 1
2,  1
, 2"
[/terrain_graphics]
#----------------------------------------------------------------

# Blood pool
#define UTP:BLOODY
"~CS(75,-255,-255)"#enddef

{ANIMATED_WATER_15            BCtL                       {UTP:BLOODY} 110 water/coast-tropical}
{ANIMATED_WATER_15_TRANSITION BCtL (!,BCtL,!,W*,S*) -553 {UTP:BLOODY} 110 water/coast-tropical-long}
{ANIMATED_WATER_15_TRANSITION BCtL (!,BCtL,!,W*,S*) -559 {UTP:BLOODY} 110 water/coast-tropical-long}

{OVERLAY             *^ct1                         furniture/well}
{OVERLAY             *^ct2                         furniture/bookcase}
{OVERLAY             *^ct3                         furniture/bed-se}
{OVERLAY             *^ct4                         furniture/roundtableandchair}
{OVERLAY             *^ct5                         furniture/bag}
{OVERLAY             *^ct6                         furniture/anvil}
{OVERLAY             *^ct7                         furniture/stove}
{OVERLAY             *^ct8                         furniture/barrel}
{OVERLAY             *^ct9                         furniture/straw-bale1}
{OVERLAY             *^ct10                        furniture/bucketfull}
{OVERLAY             *^ct11                        furniture/coal-pile}
{OVERLAY             *^ct12                        furniture/box}
{OVERLAY             *^ct13                        furniture/wooden-door-sw}
{OVERLAY             *^ct14                        furniture/wooden-door-se}
{OVERLAY             *^ct15                        furniture/wooden-door-sw}
{OVERLAY             *^ct16                        furniture/wooden-door-se}

{OVERLAY             *^ct17                        furniture/whirlpool}
{OVERLAY             *^ct18                        furniture/circle}
{OVERLAY             *^ct19                        furniture/chest-closed-se}
{OVERLAY             *^ct20                        furniture/bed-fancy-se}
{OVERLAY             *^ct21                        furniture/logs}
{OVERLAY             *^ct22                        furniture/horse1}
{OVERLAY             *^ct23                        furniture/hippo}
{OVERLAY             *^ct25                        furniture/flaskrack}
{OVERLAY             *^ct26                        furniture/armorrack}
{OVERLAY             *^ct27                        furniture/matress}
{OVERLAY             *^ct28                        furniture/desk-sw}
{OVERLAY             *^ct29                        furniture/desk-se}
{OVERLAY             *^ct30                        furniture/redcarpet-se}
{OVERLAY             *^ct31                        furniture/redcarpet-sw}
{OVERLAY             *^ct32                        furniture/workbench}
{OVERLAY             *^ct33                        furniture/weaponrack}

{OVERLAY             *^ct34                        furniture/angelstatue}
{OVERLAY             *^ct35                        furniture/ruins}
{OVERLAY             *^ct36                        furniture/stairs-spiral}
{OVERLAY             *^ct37                        furniture/table3}

{OVERLAY             *^ct38                        furniture/roundtable}
{OVERLAY             *^ct39                        furniture/fishbox}
{OVERLAY             *^ct40                        furniture/cornbox}
{OVERLAY             *^ct41                        furniture/potatobox}
{OVERLAY             *^ct42                        furniture/boxes}
{OVERLAY             *^ct43                        furniture/box_with_dices}
{OVERLAY             *^ct44                        furniture/basket2}
{OVERLAY             *^ct45                        furniture/basket-round-strawberry}
{OVERLAY             *^ct46                        furniture/openbag}
{OVERLAY             *^ct48                        furniture/indoorplant-4}
{OVERLAY             *^ct49                        furniture/planttable}
{OVERLAY             *^ct50                        furniture/chest-open-se}

{OVERLAY             *^ct51                        furniture/brokenbarrel}
{OVERLAY             *^ct52                        furniture/brokenbox}
{OVERLAY             *^ct53                        furniture/brokenpot}

{OVERLAY             *^ct54                        furniture/pot}
{OVERLAY             *^ct55                        furniture/pot2}
{OVERLAY             *^ct56                        furniture/gate-rusty-se}
{OVERLAY             *^ct24                        furniture/gate-rusty-sw}
{OVERLAY             *^ct57                        furniture/bookcase-and-stuff}
{OVERLAY             *^ct58                        furniture/bookcase-and-stuff-sw}

{TERRAIN_BASE             ct76                     furniture/denseforest}
{TERRAIN_BASE             ct77                     furniture/gate-rusty-se}
{TERRAIN_BASE             ct78                     furniture/rainfall}
{OVERLAY 			*^ct81 							furniture/counter}
{OVERLAY 			*^ct82 							furniture/counter2}
{OVERLAY *^ct86 furniture/altar}
{OVERLAY *^ct92 furniture/wardrobe}
{OVERLAY *^ct93 furniture/dragonstatue}