#textdomain wesnoth-ctl

##можливі ходи також мають обмежуватися такими, що можуть спричинити шах.
##після кожного ходу НЕ короля перевіряти на шах. Якщо є шах, перевіряти на мат(тобто ходи короля)
##сині гекси для руху
##червоні для атаки
##фіолетові це шах/мат
##беруться атаки взагалі всіх юнітів та заносяться в масив

[lua]
    code= <<
	
	

    >>

[/lua]